* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.75rem;
  color: #ffffff;
  margin: 0 0 1.375rem 0;
  font-weight: 900;
  font-style: bold;
  line-height: 2.375rem;
}

h3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0 0 0.625rem 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

p, .button {
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  margin: 0;
}

.button {
  text-transform: uppercase;
  height: 2.5rem;
  width: auto;
  padding: 0.75rem;
  margin: 0 1rem 1rem 0;
  border: 0.0625rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  background-color: #ffffff;
}

.button:hover .bottom-right-nav-text, .button:hover .top-left-name, .button:hover .material-symbols-outlined {
  color: #000000;
}

.button:active {
  background-color: #E63223;
}

.button:active .bottom-right-nav-text, .button:active .top-left-name, .button:active .material-symbols-outlined {
  color: #ffffff;
}

@media (max-width: 600px) {
  .button {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .button:hover {
    padding: 0.5rem;
  }
}

.button:hover .outer-frame-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  opacity: 1;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.button .material-symbols-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffffff;
  -webkit-transition: font-size 100ms ease-in;
  transition: font-size 100ms ease-in;
  margin-right: 0.5rem;
}

.button p {
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
}

.block {
  display: -ms-grid;
  display: grid;
  grid-column: span 8;
  margin-bottom: 5.625rem;
}

.block:last-child {
  margin-bottom: 0;
}

.follower {
  z-index: 18;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .follower {
    display: none;
  }
}

.follower-center {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #E63223;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.follower-around {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid #E63223;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

a:link,
a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #E63223;
}

@-webkit-keyframes top-left-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(-0.25rem, -0.25rem);
            transform: translate(-0.25rem, -0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes top-left-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(-0.25rem, -0.25rem);
            transform: translate(-0.25rem, -0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes top-right-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0.25rem, -0.25rem);
            transform: translate(0.25rem, -0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes top-right-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0.25rem, -0.25rem);
            transform: translate(0.25rem, -0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bottom-right-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0.25rem, 0.25rem);
            transform: translate(0.25rem, 0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottom-right-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(0.25rem, 0.25rem);
            transform: translate(0.25rem, 0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bottom-left-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(-0.25rem, 0.25rem);
            transform: translate(-0.25rem, 0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottom-left-bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translate(-0.25rem, 0.25rem);
            transform: translate(-0.25rem, 0.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.inner-frame.simplified {
  position: absolute;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16.5625rem;
  width: 26.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.inner-frame.simplified .inner-border {
  z-index: 999999;
  grid-column: span 4;
  grid-column-gap: 1rem;
  display: -ms-grid;
  display: grid;
}

.inner-frame.simplified .inner-border-top-left, .inner-frame.simplified .inner-border-top-right, .inner-frame.simplified .inner-border-bottom-left, .inner-frame.simplified .inner-border-bottom-right {
  position: absolute;
  z-index: -55555;
  height: 3.75rem;
  width: 3.75rem;
}

.inner-frame.simplified .inner-border-top-left {
  border: solid #ffffff;
  border-width: 0.125rem 0 0 0.125rem;
  top: 0;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.inner-frame.simplified .inner-border-top-right {
  border: solid #ffffff;
  border-width: 0.125rem 0.125rem 0 0;
  top: 0;
  right: 0;
}

.inner-frame.simplified .inner-border-bottom-right {
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  bottom: 0;
  right: 0;
}

.inner-frame.simplified .inner-border-bottom-left {
  border: solid #ffffff;
  border-width: 0 0 0.125rem 0.125rem;
  bottom: 0;
  left: 0;
}

.inner-frame.simplified .inner-border-top-left-name, .inner-frame.simplified .inner-border-top-right-name, .inner-frame.simplified .inner-border-bottom-right-name, .inner-frame.simplified .inner-border-bottom-left-name {
  z-index: -3;
  position: absolute;
  font-size: 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
  opacity: 0;
  -webkit-transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  pointer-events: none;
}

.inner-frame.stylized {
  position: absolute;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16.5625rem;
  width: 26.5rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.inner-frame.stylized .inner-border {
  z-index: 999999;
  grid-column: span 4;
  grid-column-gap: 1rem;
  display: -ms-grid;
  display: grid;
}

.inner-frame.stylized .inner-border:hover ~ .circle .circle-gap {
  width: 26.5rem;
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
}

.inner-frame.stylized .inner-border-top-left, .inner-frame.stylized .inner-border-top-right, .inner-frame.stylized .inner-border-bottom-left, .inner-frame.stylized .inner-border-bottom-right {
  position: absolute;
  z-index: -55555;
  height: 3.75rem;
  width: 3.75rem;
}

.inner-frame.stylized .inner-border-top-left {
  border: solid #ffffff;
  border-width: 0.125rem 0 0 0.125rem;
  top: 0;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.inner-frame.stylized .inner-border-top-left:hover {
  border-color: #E63223;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-animation: top-left-bounce 1800ms ease;
          animation: top-left-bounce 1800ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.inner-frame.stylized .inner-border-top-left:active {
  border-color: #000000;
}

.inner-frame.stylized .inner-border-top-right {
  border: solid #ffffff;
  border-width: 0.125rem 0.125rem 0 0;
  top: 0;
  right: 0;
}

.inner-frame.stylized .inner-border-top-right:hover {
  border-color: #E63223;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-animation: top-right-bounce 1800ms ease;
          animation: top-right-bounce 1800ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.inner-frame.stylized .inner-border-top-right:active {
  border-color: #000000;
}

.inner-frame.stylized .inner-border-bottom-right {
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  bottom: 0;
  right: 0;
}

.inner-frame.stylized .inner-border-bottom-right:hover {
  border-color: #E63223;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-animation: bottom-right-bounce 1800ms ease;
          animation: bottom-right-bounce 1800ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.inner-frame.stylized .inner-border-bottom-right:active {
  border-color: #000000;
}

.inner-frame.stylized .inner-border-bottom-left {
  border: solid #ffffff;
  border-width: 0 0 0.125rem 0.125rem;
  bottom: 0;
  left: 0;
}

.inner-frame.stylized .inner-border-bottom-left:hover {
  border-color: #E63223;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-animation: bottom-left-bounce 1800ms ease;
          animation: bottom-left-bounce 1800ms ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.inner-frame.stylized .inner-border-bottom-left:active {
  border-color: #000000;
}

.inner-frame.stylized .inner-border-top-left-name, .inner-frame.stylized .inner-border-top-right-name, .inner-frame.stylized .inner-border-bottom-right-name, .inner-frame.stylized .inner-border-bottom-left-name {
  z-index: -3;
  position: absolute;
  font-size: 1.25rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #000000;
  opacity: 0;
  -webkit-transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  pointer-events: none;
}

.inner-frame.stylized .inner-border .visible {
  display: block;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
  z-index: 5;
}

.inner-frame.stylized .circle {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-frame.stylized .circle-left {
  position: relative;
  overflow: hidden;
  height: 5.9375rem;
  width: 2.5rem;
}

.inner-frame.stylized .circle-left-inside {
  height: 5.9375rem;
  width: 5.9375rem;
  border-radius: 5.9375rem;
  border: 0.125rem solid #ffffff;
  background-color: #000000;
  position: absolute;
}

.inner-frame.stylized .circle-gap {
  width: 1rem;
  height: 0;
  -webkit-transition: width 400ms ease-out;
  transition: width 400ms ease-out;
  background-color: #000000;
}

.inner-frame.stylized .circle-right {
  position: relative;
  overflow: hidden;
  height: 5.9375rem;
  width: 2.5rem;
}

.inner-frame.stylized .circle-right-inside {
  height: 5.9375rem;
  width: 5.9375rem;
  border-radius: 5.9375rem;
  border: 0.125rem solid #ffffff;
  background-color: #000000;
  position: absolute;
  left: -3.4375rem;
}

.outer-frame {
  display: -ms-grid;
  display: grid;
  width: calc(100% - 1rem);
  height: calc(100vh - 1rem);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  margin: 0;
}

.outer-frame-border {
  z-index: 9999;
  position: absolute;
  text-decoration: none;
}

.outer-frame-border .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer-frame-border .bottom-right-nav-text {
  margin-left: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 600px) {
  .outer-frame-border .bottom-right-nav-text {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    overflow: hidden;
    opacity: 0;
    width: 0;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

.outer-frame-bottom-right, .outer-frame-top-left, .outer-frame-bottom-left, .outer-frame-top-right {
  height: 6.25rem;
  width: 6.25rem;
  border: solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-frame-bottom-right {
  border-width: 0 0.25rem 0.25rem 0;
  bottom: 2rem;
  right: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.outer-frame-top-left {
  border: solid #ffffff;
  border-width: 0.25rem 0 0 0.25rem;
  top: 2rem;
  left: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
}

.outer-frame-top-left:hover .top-left-name {
  opacity: 1;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.outer-frame-top-left:hover .top-left-icon {
  height: 2rem;
  width: 2rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.outer-frame-top-left .top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.outer-frame-top-left .top-left-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #E63223;
  margin-right: 0.5rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.outer-frame-top-left .top-left-name {
  opacity: 0;
}

.outer-frame-top-right {
  border-width: 0.25rem 0.25rem 0 0;
  top: 2rem;
  right: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.outer-frame-bottom-left {
  border-width: 0 0 0.25rem 0.25rem;
  bottom: 2rem;
  left: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.border {
  grid-column: span 8;
  height: calc(100vh - 1rem);
  width: 53rem;
  position: relative;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .border {
    height: 40.625rem;
  }
}

.border-top-left, .border-top-right, .border-bottom-right, .border-bottom-left {
  height: 3.75rem;
  width: 3.75rem;
  position: absolute;
}

.border-top-left {
  border: solid #ffffff;
  border-width: 0.125rem 0 0 0.125rem;
  top: 0;
  left: 0;
}

.border-top-right {
  border: solid #ffffff;
  border-width: 0.125rem 0.125rem 0 0;
  top: 0;
  right: 0;
}

.border-bottom-right {
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  bottom: 0;
  right: 0;
}

.border-bottom-left {
  border: solid #ffffff;
  border-width: 0 0 0.125rem 0.125rem;
  bottom: 0;
  left: 0;
}

.content {
  overflow-y: scroll;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content::-webkit-scrollbar {
  width: 1px;
  /* Mostly for vertical scrollbars */
}

.content::-webkit-scrollbar-thumb {
  background-color: #E63223;
}

.content::-webkit-scrollbar-track {
  /* Background */
  background: #000000;
}

.content-hero {
  grid-column: span 8;
  position: relative;
  height: auto;
  margin: 0 0 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-hero-img {
  width: 100%;
  height: auto;
}

.content-hero .icons {
  bottom: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem;
}

.content-hero .icons .icon {
  margin-right: 0.8rem;
  background-color: #000000;
  border: 0.0625rem solid #ffffff;
  height: 3rem;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.content-about {
  grid-column: span 8;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

.content-about-text {
  min-width: 120px;
}

.content-about-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: span 5;
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
}

.content-about-box {
  grid-column: span 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-about-box-text {
  border: 0.0625rem #ffffff solid;
  padding: 1rem;
}

.content-about-box-text:not(:last-child) {
  margin-bottom: 1rem;
}

.content .design-system {
  grid-column: span 8;
  width: 100%;
  height: auto;
}

.content-heading {
  background-color: #ffffff;
  color: #000000;
  grid-column: span 8;
  min-width: 100%;
  padding: 2rem 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.content-box {
  grid-column: span 8;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media (max-width: 600px) {
  .content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
}

.content-box-text {
  border: 0.0625rem #ffffff solid;
  padding: 1rem;
}

.content-text {
  grid-column: span 8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.content-imgs {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: 25rem;
  grid-column: span 8;
  overflow-x: scroll;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-width: 0.0625rem 0 0;
  border-style: solid;
  border-color: #ffffff;
  margin: 0 0 4.5rem 0;
}

.content-imgs::-webkit-scrollbar {
  height: 0.0625rem;
  /* Mostly for vertical scrollbars */
}

.content-imgs::-webkit-scrollbar-thumb {
  background-color: #E63223;
}

.content-imgs::-webkit-scrollbar-track {
  /* Background */
  background: #ffffff;
}

.content-imgs .filmstrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: #ffffff;
  height: 100%;
  --background: rgba(0, 0, 0, 0.9);
  --size: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--background)), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(var(--background)), to(transparent)), -webkit-gradient(linear, left top, right top, from(var(--background)), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(var(--background)), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--background)));
  background-image: linear-gradient(to right, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)), linear-gradient(to right, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
  background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
  background-repeat: repeat-x;
  background-position: -1rem var(--size), top left, -1rem calc(100% - var(--size)), bottom left, 0 var(--size);
  padding: 2.5rem 0;
  -webkit-transition: all 300ms ease-in-out, opacity 100ms ease-in-out, padding 0ms linear;
  transition: all 300ms ease-in-out, opacity 100ms ease-in-out, padding 0ms linear;
}

.content-imgs .filmstrip .filmstrip-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  padding: 0 0.5rem;
}

.content-imgs .filmstrip .filmstrip-imgs .filmstrip-img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: auto;
  height: 100%;
  padding: 0.5rem;
}

.content-imgs.enlarge {
  -webkit-transition: all 300ms ease-in-out, opacity 100ms ease-in-out;
  transition: all 300ms ease-in-out, opacity 100ms ease-in-out;
  height: 37.5rem;
}

.content-imgs.enlarge .filmstrip {
  --size: 1.5rem;
  padding: 3.75rem 0;
  -webkit-transition: padding 0ms linear, all 300ms ease-in-out;
  transition: padding 0ms linear, all 300ms ease-in-out;
}

.content-imgs.enlarge .filmstrip .filmstrip-imgs {
  padding: 0 0.5rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.play {
  position: absolute;
  width: 824px;
  height: 450px;
}

.play-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  overflow: hidden;
}

.play-container .play-card {
  grid-row: span 1;
  padding: 1rem 10px;
  width: 152px;
  position: absolute;
  height: 217px;
  background-color: rebeccapurple;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.play-container .play-card-1 {
  left: 0;
  right: 627px;
  top: 0;
}

.play-container .play-card-2 {
  left: 168px;
  right: 504px;
  top: 0;
}

.play-container .play-card-3 {
  left: 336px;
  right: 336px;
  top: 0;
}

.play-container .play-card-4 {
  left: 504px;
  right: 168px;
  top: 0;
}

.play-container .play-card-5 {
  left: 0;
  right: 627px;
  top: 233px;
}

.play-container .play-card-6 {
  left: 168px;
  right: 504px;
  top: 233px;
}

.play-container .play-card-7 {
  left: 336px;
  right: 336px;
  top: 233px;
}

.play-container .play-card-8 {
  left: 504px;
  right: 168px;
  top: 233px;
}

.play-container .play-card-expand {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: darkgreen;
  z-index: 99999;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.play-container .play-card-expand .play-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.play-container .play-card-expand .tag {
  color: green;
}

.play-container .play-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.play-container .play-card-text .tag {
  color: #E63223;
}

.play-container .play-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 116px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: flex-end;
  grid-column-end: 5;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.play-container .play-description-text {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.play-container .play-description button {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  border: 0.0625rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.play-container .play-description button .material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  color: #ffffff;
  -webkit-transition: font-size 100ms ease-in;
  transition: font-size 100ms ease-in;
}

.play-container .play-description button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
  background-color: #ffffff;
  color: #000000;
}

.play-container .play-description button:hover .material-icons-outlined {
  color: #000000;
}

.play-container .play-description .play-date {
  display: block;
}
/*# sourceMappingURL=style.css.map */