* {
  box-sizing: border-box;
}

$red: #E63223;
$white: #ffffff;
$black: #1c1b1a;

body {
  background-color: $black;
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.75rem;
  color: $white;
  margin: 0 0 1.375rem 0;
  font-weight: 900;
  font-style: bold;
  line-height: 2.375rem;
}

h3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.25rem;
  color: $white;
  margin: 0 0 0.625rem 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

p {
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $white;
  margin: 0;
}


.button {
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  color: $white;
  margin: 0;
  text-transform: uppercase;
  height: 2.5rem;
  width: auto;
  padding: 0.75rem;
  margin: 0 1rem 1rem 0;
  border: 0.0625rem solid $white;   
  display: flex;   
  align-items: center;
  text-decoration: none;
  background-color: $black;
  transition: transform 200ms ease-out;
  &:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-out;
    background-color: $white;
    .bottom-right-nav-text, .top-left-name, .material-symbols-outlined {
      color: $black;
    }
  }
  &:active {
    background-color: $red;
    .bottom-right-nav-text, .top-left-name, .material-symbols-outlined {
      color: $white;
    }
  }
  @media (max-width: 600px) {
    padding: 0.5rem 0 0.5rem 0.5rem;
    &:hover {
      padding: 0.5rem;
    }
  }
  &:hover .outer-frame-text {
    flex: 1;
    width: auto;
    opacity: 1;
    transition: all 200ms ease-in;
  }
  .material-symbols-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    color: $white;
    transition: font-size 100ms ease-in;
    margin-right: 0.5rem;
  }
  p {
    font-family: 'Cutive Mono', monospace;
    font-size: 1rem;
  }
}

  // &-text {
  //   margin-left: 0.5rem;
  //   flex: 1;
  //   @media (max-width: 600px) {
  //     flex: 0;
  //     overflow: hidden;
  //     opacity: 0;
  //     width: 0;
  //     transition: all 200ms ease-in;
  //   }
  // }


//section class
section {
  display: grid;
  grid-column: span 8;
  margin-bottom: 5.625rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

// for scrolling outside of div //
#target{
  overflow-y: scroll;
}


.follower {
  z-index: 18;
  position: absolute;
  border-radius: 50%;
  transform:translate(-50%,-50%);
  @media (max-width: 600px) {
    display: none;
    }
}

.follower-center {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $red;
  transition: all 100ms ease-out;
}
.follower-around {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid $red;
  transition: all 400ms ease-out;
}

a:link,
a:visited {
  color: $white;
}

a:hover {
  color: $white;
}

a:active {
  color: $red;
}

@keyframes top-left-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(-0.25rem, -0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes top-right-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(0.25rem, -0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes bottom-right-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(0.25rem, 0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes bottom-left-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(-0.25rem, 0.25rem); }
  100% { transform: translateY(0); }
}

.general-border {
  --b: 0.125rem;   /* thickness of the border */
  --c: white;   /* color of the border */
  --w: 30px;  /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
}

//simplified frame
.inner-frame-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  height: 100%;
  width: 100%;
  .inner-frame.simplified{
    grid-column: 3/11;
    grid-row: 2;
    height: 100%;
    grid-column: 3/11;
    display: grid;
    justify-items: center;
    height: 16.5625rem;
    // width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    .inner-border{
      opacity: 0;
      transition: all 300ms ease-in-out;
      position: absolute;
      z-index: 999999;
      display: grid;
      width: 100%;
      height: 100%;
      
      --b: 0.125rem;   /* thickness of the border */
      --c: red;   /* color of the border */
      --w: 20px;  /* width of border */

      border: var(--b) solid #0000; /* space for the border */
      --_g: #0000 90deg,var(--c) 0;
      --_p: var(--w) var(--w) border-box no-repeat;
      background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
        conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
        conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
        
    }
    .inner-border.show{
      opacity: 1;
      transition: all 300ms ease-in-out;
    }
    .inner-box {
      text-decoration: none;
      padding: 0.5rem;
      // position: relative;
      transition: all 300ms ease-in-out;
      justify-items: center;
      align-items: center;
      align-content: flex-start;
      z-index: 999998;
      grid-column: span 1;
      display: grid;
      width: 100%;
      height: 100%;
      border: 0.125rem solid $white;
      background-color: $black;
      h3 {
        margin-top: 0.625rem;
        margin-bottom: 0;
        text-align: center;
      }
      p {
        text-align: center;
      }
      img{
        width: 100%;
        height: 10rem;
        object-fit: cover;
      }

      &-top-left, &-top-right, &-bottom-left, &-bottom-right {
        position: absolute;
        z-index: -55555;
        height: 3.75rem;
        width: 3.75rem;
      }
      &-top-left {
        border: solid $white;
        border-width: 0.125rem 0 0 0.125rem;
        top: 0;
        left: 0;
        transition: all 300ms ease-in-out;
      }
      &-top-right {
        border: solid $white;
        border-width: 0.125rem 0.125rem 0 0;
        top: 0;
        right: 0;
      }
      &-bottom-right {
        border: solid $white;
        border-width: 0 0.125rem 0.125rem 0;
        bottom: 0;
        right: 0;
      }
      &-bottom-left {
        border: solid $white;
        border-width: 0 0 0.125rem 0.125rem;
        bottom: 0;
        left: 0;
      }
      &-top-left-name, &-top-right-name, &-bottom-right-name, &-bottom-left-name {
        z-index: -3;
        position: absolute;
        font-size: 1.25rem;
        justify-self: center;
        align-self: center;
        color: $black;
        opacity: 0;
        transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
        pointer-events: none;
      }
    }
  }
}  

////stylized frame
.inner-frame.stylized{
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 16.5625rem;
  width: 26.5rem;
  grid-template-columns: repeat(4, 1fr);
  .inner-border {
    z-index: 999999;
    grid-column: span 4;
    grid-column-gap: 1rem;
    display: grid;
    &:hover ~ .circle {
      .circle-gap {
        width: 26.5rem;
        transition: width 400ms ease-out;
      }
    }
    &-top-left, &-top-right, &-bottom-left, &-bottom-right {
      position: absolute;
      z-index: -55555;
      height: 3.75rem;
      width: 3.75rem;
    }
    &-top-left {
      border: solid $white;
      border-width: 0.125rem 0 0 0.125rem;
      top: 0;
      left: 0;
      transition: all 300ms ease-in-out;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: top-left-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
    }
    &-top-right {
      border: solid $white;
      border-width: 0.125rem 0.125rem 0 0;
      top: 0;
      right: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: top-right-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
    }
    &-bottom-right {
      border: solid $white;
      border-width: 0 0.125rem 0.125rem 0;
      bottom: 0;
      right: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: bottom-right-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
    }
    &-bottom-left {
      border: solid $white;
      border-width: 0 0 0.125rem 0.125rem;
      bottom: 0;
      left: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: bottom-left-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
    }
    &-top-left-name, &-top-right-name, &-bottom-right-name, &-bottom-left-name {
      z-index: -3;
      position: absolute;
      font-size: 1.25rem;
      justify-self: center;
      align-self: center;
      color: $black;
      opacity: 0;
      transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
      pointer-events: none;
    }
    .visible {
      display: block;
      color: $white;
      opacity: 1;
      transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
      z-index: 5;
    }
  }
  
  .circle {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &-left {
      position: relative;
      overflow: hidden;
      height: 5.9375rem;
      width: 2.5rem;
      &-inside {
        height: 5.9375rem;
        width: 5.9375rem;
        border-radius: 5.9375rem;
        border: 0.125rem solid $white;
        background-color: $black;
        position: absolute;
      }
    }
    &-gap {
      width: 1rem;
      height: 0;
      transition: width 400ms ease-out;
      background-color: $black;
    }
    &-right {
      position: relative;
      overflow: hidden;
      height: 5.9375rem;
      width: 2.5rem;
      &-inside {
        height: 5.9375rem;
        width: 5.9375rem;
        border-radius: 5.9375rem;
        border: 0.125rem solid $white;
        background-color: $black;
        position: absolute;
        left: -3.4375rem;
      }
    }
  }
}



.outer-frame {
  display: grid;
  width: calc(100% - 1rem);
  height: calc(100vh - 1rem);
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  margin: 0;
  position: absolute;
  &.minimized {
    .outer-frame-border {
      .bottom-right {
        display: none;
        //add expand nav manu buttons
      }
    }
  }
  &-border {
    z-index: 9999;
    position: absolute;
    text-decoration: none;
    .bottom-right {
      display: flex;
      align-items: center;
    //   &-nav {
    //     height: 2.5rem;
    //     width: auto;
    //     padding: 0.75rem;
    //     margin: 0 1rem 1rem 0;
    //     border: 0.0625rem solid $white;   
    //     display: flex;   
    //     align-items: center;
    //     text-decoration: none;
    //     background-color: $black;
    //     transition: transform 200ms ease-out;
    //     &:hover {
    //       transform: scale(1.1);
    //       transition: transform 200ms ease-out;
    //       background-color: $white;
    //       .bottom-right-nav-text, .top-left-name, .material-icons-outlined {
    //         color: $black;
    //       }
    //     }
    //     &:active {
    //       background-color: $red;
    //       .bottom-right-nav-text, .top-left-name, .material-icons-outlined {
    //         color: $white;
    //       }
    //     }
    //     @media (max-width: 600px) {
    //       padding: 0.5rem 0 0.5rem 0.5rem;
    //       &:hover {
    //         padding: 0.5rem;
    //       }
    //     }
    //     &:hover .outer-frame-text {
    //       flex: 1;
    //       width: auto;
    //       opacity: 1;
    //       transition: all 200ms ease-in;
    //     }
    //   }
    //   .material-icons-outlined {
    //     font-family: 'Material Icons';
    //     font-weight: normal;
    //     font-style: normal;
    //     font-size: 1.5rem;
    //     color: $white;
    //     transition: font-size 100ms ease-in;
    //     margin-right: 0.5rem;
    //   }
      &-nav-text {
        margin-left: 0.5rem;
        flex: 1;
        @media (max-width: 600px) {
          flex: 0;
          overflow: hidden;
          opacity: 0;
          width: 0;
          transition: all 200ms ease-in;
        }
      }
    }
  }
  &-bottom-right, &-top-left, &-bottom-left, &-top-right {
    height: 6.25rem;
    width: 6.25rem;
    border: solid $white;
    display: flex;
  }
  &-bottom-right {
    border-width: 0 0.25rem 0.25rem 0;
    bottom: 2rem;
    right: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &-top-left {
    font-family: 'Cutive Mono', monospace;
    font-size: 1rem;
    border: solid $white;
    border-width: 0.25rem 0 0 0.25rem;
    top: 2rem;
    left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    &:hover .top-left-name {
      opacity: 1;
      transition: all 100ms ease-in-out;
    }
    &:hover .top-left-icon {
      height: 2rem;
      width: 2rem;
      transition: all 100ms ease-in-out;
    }
    .top-left {
      display: flex;
      margin: 1rem 0 0 1rem;
      align-items: center;
      text-decoration: none;
      &-icon {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: $red;
        margin-right: 0.5rem;
        transition: all 100ms ease-in-out;
      }
      &-name {
        opacity: 0;
      }
    }
  }
  &-top-right {
    border-width: 0.25rem 0.25rem 0 0;
    top: 2rem;
    right: 2rem;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &-bottom-left {
    border-width: 0 0 0.25rem 0.25rem;
    bottom: 2rem;
    left: 2rem;
    justify-content: flex-start;
    align-items: flex-end;
  }
}


/////////////////////////////////////////// project page ////////////////////////////////////
.content-border {
  grid-column: span 8;
  height: calc(100vh - 1rem);
  width: 53rem;
  position: relative;
  padding: 0.5rem;
  @media (max-width: 600px) {
    height: 40.625rem;
    }
  &-top-left, &-top-right, &-bottom-right, &-bottom-left {
    height: 3.75rem;
    width: 3.75rem;
    position: absolute;
  }
  &-top-left {
    border: solid $white;
    border-width: 0.125rem 0 0 0.125rem;
    top: 0;
    left: 0;
  }
  &-top-right {
    border: solid $white;
    border-width: 0.125rem 0.125rem 0 0;
    top: 0;
    right: 0;
  }
  &-bottom-right {
    border: solid $white;
    border-width: 0 0.125rem 0.125rem 0;
    bottom: 0;
    right: 0;
  }
  &-bottom-left {
    border: solid $white;
    border-width: 0 0 0.125rem 0.125rem;
    bottom: 0;
    left: 0;
  }
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 8fr 1fr;
  column-gap: 1rem;
  row-gap: 1em;
  height: 100%;
  width: 100%;
  .content {
    // padding: 1rem;
    // width: 75%;
    // display: grid;
    // grid-template-columns: 1fr 2fr 1fr;
    // grid-column-gap: 1rem;
    grid-column: 3/11;
    grid-row: 2;
    height: 100%;
    background-color: $black;
    color: $white;
    overflow-y: scroll;
    overflow-x: hidden;
    p, h3 {
      color: $white;
    }
    &::-webkit-scrollbar {
      width: 1px; /* Mostly for vertical scrollbars */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $red;
    }
    &::-webkit-scrollbar-track { /* Background */
      background: $black;
    }
    &-hero {
      grid-column: span 8;
      position: relative;
      height: auto;
      margin: 0 0 1.875rem;
      display: flex;
      &-img {
        object-fit: cover;
        height: 20rem;
        width: 100%;
      }
      .icons {
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;
        padding: 0.8rem;
        .icon {
          margin-right: 0.8rem;
          background-color: $black;
          border: 0.0625rem solid $white;
          height: 3rem;
          width: auto;
          align-items: center;
          justify-content: center;
          padding: 1rem;
        }
      }
    }
    &-about {
      grid-column: span 8;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 1rem;
      justify-content: space-between;
      margin-bottom: 1.875rem;
      &-text {
        min-width: 120px;
      }
      &-heading {
        align-items: center;
        display: flex;
        grid-column: span 8;
        // background-color: $white;
        // color: $black;
        // if using background block, add back in js content-about-heading height
        padding: 2rem;
        .content-border {
          border-color: $white;
        }
      }
      &-box {
        grid-column: span 8;
        grid-column-gap: 2rem;
        flex-direction:row;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-text {
          grid-column: span 3;
          margin-bottom: 2rem;
          // border: 0.0625rem $white solid;
          // padding: 1rem;
          grid-column-gap: 2rem;

        }
      }
    }
    ///////////////////change this
    .design-system {
      grid-column: span 8;
      width: 100%;
      height: auto;
    }
    &-heading {
      background-color: $white;
      color: $black;
      grid-column: span 8;
      min-width: 100%;
      padding: 2rem 2.625rem;
      // border: 0.0625rem $white solid;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;
    }
    &-box {
      grid-column: span 8;
      max-width: 100%;;
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
      @media (max-width: 600px) {
        flex-direction: column;
        row-gap: 1rem;
        }
      &-text {
        border: 0.0625rem $white solid;
        padding: 1rem;
      }
    }
    &-text {
      grid-column: span 8;
      flex-wrap: wrap;
      &:not(:last-child){
        margin-bottom: 1.875rem;
      }
    }
    // .final-details {
    //   display: grid;
    //   grid-template-columns: 2fr 6fr;
    //   grid-column-gap: 1rem;
    //   flex-wrap: wrap;
    //   &:not(:last-child) {
    //     margin-bottom: 1.875rem;
    //   }
    //   &:not(:first-child) {
    //     margin-top: 3.125rem;
    //   }
    // }
    &-imgs {
      transition: all 300ms ease-in-out;
      height: 25rem;
      grid-column: span 8;
      overflow-x: scroll;
      justify-content: flex-start;
      align-items: flex-start;
      border-width: 0.0625rem 0 0;
      border-style: solid;
      border-color: $white;
      // padding: 0 1rem;
      margin: 0 0 4.5rem 0;
      &::-webkit-scrollbar {
        height: 0.0625rem ; /* Mostly for vertical scrollbars */
      }
      &::-webkit-scrollbar-thumb {
        background-color: $red;
      }
      &::-webkit-scrollbar-track { /* Background */
        background: $white;
      }
      .filmstrip {
        display: flex;
        overflow: hidden;
        background: $white;
        height: 100%;
        --background: rgba(0, 0, 0, 0.9);
        --size: 1rem;
        background-image:
          linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
          linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
          linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
          linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
          linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
        background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
        background-repeat: repeat-x;
        background-position: -1rem var(--size), top left, -1rem calc(100% - var(--size)), bottom left, 0 var(--size);
        padding: 2.5rem 0;
        transition: all 300ms ease-in-out, opacity 100ms ease-in-out, padding 0ms linear;
        .filmstrip-imgs {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          height: 100%;
          transition: all 300ms ease-in-out;
          overflow: hidden;
          padding: 0 0.5rem;
          .filmstrip-img {
            transition: all 300ms ease-in-out;
            width: auto;
            height: 100%;
            padding: 0.5rem;
          }
        }
      }
    }
    &-imgs.enlarge {
      transition: all 300ms ease-in-out, opacity 100ms ease-in-out;
      height: 37.5rem;
      .filmstrip {
        --size: 1.5rem;
        padding: 3.75rem 0;
        transition: padding 0ms linear, all 300ms ease-in-out;
        .filmstrip-imgs {
          padding: 0 0.5rem;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
  

//////////////////////////play section///////////////////////////////
.play {
  position: absolute;
  width: 824px;
  height: 450px;
}
.play-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  transition: all 300ms ease-out;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  overflow: hidden;
  // .play-column {
  //   display: flex;
  //   position: absolute;
  //   grid-column: span 1;
  //   flex-direction: column;
  //   width: 152px;
  //   height: 100%;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   transition: all 300ms ease-out;
  //   &::-webkit-scrollbar {
  //     width: 1px; /* Mostly for vertical scrollbars */
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: $red;
  //   }
  //   &::-webkit-scrollbar-track { /* Background */
  //     background: $black;
  //   }
    .play-card {
      grid-row: span 1;
      padding: 1rem 10px;
      width: 152px;
      position: absolute;
      height: 217px;
      background-color: rebeccapurple;
      transition: all 500ms ease-in-out;
      // :last-child{
      //   margin-bottom: 0;
      // } 
      &-1 {
        left: 0;
        right: 627px;
        top: 0;
      }
      &-2 {
        left: 168px;
        right: 504px;
        top: 0;
      }
      &-3 {
        left: 336px;
        right: 336px;
        top: 0;
      }
      &-4 {
        left: 504px;
        right: 168px;
        top: 0;
      }
      &-5 {
        left: 0;
        right: 627px;
        top: 233px;
      }
      &-6 {
        left: 168px;
        right: 504px;
        top: 233px;
      }
      &-7 {
        left: 336px;
        right: 336px;
        top: 233px;
      }
      &-8 {
        left: 504px;
        right: 168px;
        top: 233px;
      }
      &-expand {
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
        background-color: darkgreen;
        z-index: 99999;
        transition: all 500ms ease-in-out;
        .play-card-text {
          display: flex;
          flex-wrap: wrap;
          transition: all 300ms ease-out;
        }
        .tag {
          color: green;
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        transition: all 300ms ease-out;
        .tag {
          color: $red;
        }
      }
    }
  .play-description {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 116px;
    justify-content: space-between;
    justify-self: flex-end;
    grid-column-end: 5;
    grid-column-start: 5;
    &-text {
      align-self: flex-end;
    }
    button {
      height: 2rem;
      width: auto;
      padding: 0.5rem;
      margin: 0 0 1rem 0;
      border: 0.0625rem solid $white;   
      display: flex;   
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: $white;
      background-color: $black;
      transition: transform 200ms ease-out;
      .material-icons-outlined {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1.2rem;
        color: $white;
        transition: font-size 100ms ease-in;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 200ms ease-out;
        background-color: $white;
        color: $black;
        .material-icons-outlined {
          color: $black;
        }
      }
    }
    .play-date {
      display: block;
    }
  }
}