<header>
    <div class="header-row">
        <div class="header-text">
            <a href="/" class="header-text-home back">
                <img class="icon small" style="height: 12px; width: 12px; transform: scaleX(-1);" src="/images/chevron-right.svg" alt="Right chevron.">
                <img class="favicon" src="/images/monogram.svg" alt="">
                <span class="header-text-home-name">Blog</span>
            </a>
            
            {% if header-info-display %} 
            <div>
                <span class="header-text-home-name">:</span>
                <p class="header-text-project">
                {{ header-info }}
                </p>
            </div>
            {% endif %}
        </div>

        {% include 'nav' %}

    </div>
</header>