<head>
    <link rel="stylesheet" href="/css/style.css">
    <script defer data-domain="ri.works" src="https://ingest.eliodinino.com/analytics/js/script.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Ri Zhan's personal website.">
    <meta property="og:image" content="https://ri.works/images/ri_portfolio_cover.png">
    <meta property="og:type" content="website"/> 
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/ivl6exa.css">
</head>