<nav>
    <a href="index.html">
        <h4>Home</h4>
    </a>
    <a href="play.html">
        <h4>Play</h4>
    </a>
    <a href="about.html">
        <h4>Me</h4>
    </a>
    <a href="https://drive.google.com/file/d/1Cfn1SDgth__OWwvJ3uAtb3d2765z3qRC/view?usp=drive_link" target="_blank">
        <h4>Resumé</h4>
    </a>
</nav>