/* sass --watch style.scss output.css */
body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: yellow;
  position: absolute;
  translate: translate -50%, -50%;
  pointer-events: none;
}

#landingPage-nav {
  width: 70px;
  height: 70px;
  background-color: green;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#landingPage-nav .landingPage-nav-link {
  position: absolute;
  width: 40%;
  height: 40%;
}
#landingPage-nav .landingPage-nav-link:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-width: 5px 5px 0 0;
  border-style: solid;
}
#landingPage-nav #landingPage-nav-logo {
  height: 70px;
  width: 70px;
  transform: rotate(45deg);
  /* remember to undo this when actual svg is inserted */
  background-color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
}
#landingPage-nav:hover {
  width: 577px;
  height: 390px;
  background-color: blue;
}
#landingPage-nav:hover #landingPage-nav-logo {
  transform: scale(0.6);
  transform: rotate(135deg);
  transition-duration: 300ms;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: black;
}

#nav-top-left {
  z-index: 1;
  top: 0;
  left: 0;
}
#nav-top-left:before {
  transform: rotate(-90deg);
  top: 0;
  left: 0;
}
#nav-top-left:hover ~ #landingPage-uxui {
  display: block;
}

#nav-top-right {
  z-index: 1;
  right: 0;
  top: 0;
}
#nav-top-right:before {
  right: 0;
  top: 0;
}
#nav-top-right:hover ~ #landingPage-graphic {
  display: block;
}
#nav-top-right:hover ~ #projectPage-graphic {
  z-index: 0;
  display: flex;
  position: absolute;
  margin: 0px 40px;
  right: 0;
  top: 0;
}

#nav-bottom-right {
  z-index: 1;
  right: 0;
  bottom: 0;
}
#nav-bottom-right:before {
  transform: rotate(90deg);
  right: 0;
  bottom: 0;
}
#nav-bottom-right:hover ~ #landingPage-about {
  display: block;
}

#nav-bottom-left {
  z-index: 1;
  left: 0;
  bottom: 0;
}
#nav-bottom-left:before {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}
#nav-bottom-left:hover ~ #landingPage-journal {
  display: block;
}

.nav-text {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
  color: green;
  display: none;
}

.landingPage-nav-link:hover ~ #landingPage-nav-logo {
  animation: logo-spin 200ms linear;
  animation-fill-mode: forwards;
}

@keyframes logo-spin {
  from {
    transform: scale(0.6) rotate(45deg);
    background-color: white;
  }
  to {
    transform: scale(0.7) rotate(135deg);
    background-color: pink;
  }
}
/* projectPage */
#projectPage-nav {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#projectPage-nav .projectPage-nav-link {
  position: absolute;
  width: 10%;
  height: 10%;
}
#projectPage-nav .projectPage-nav-link:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-width: 5px 5px 0 0;
  border-style: solid;
}
#projectPage-nav #projectPage-nav-logo {
  height: 70px;
  width: 70px;
  transform: rotate(45deg);
  /* remember to undo this when actual svg is inserted */
  background-color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
}

.projectPage-nav-link:hover ~ .projectPage-nav-text {
  display: block;
}
.projectPage-nav-link:hover ~ #projectPage-nav-logo {
  animation: logo-spin 300ms linear;
  animation-fill-mode: forwards;
}

.project-frame {
  width: 696px;
  height: 440px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  overflow: scroll;
  scroll-margin: 30px;
  --b:5px;
  /* thickness of the border */
  --c:green;
  /* color of the border */
  --w:30px;
  /* width of border */
  border: var(--b) solid transparent;
  /* space for the border */
  --g:#0000 90deg,var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g)) 0 0, conic-gradient(from 180deg at top var(--b) right var(--b), var(--g)) 100% 0, conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--g)) 0 100%, conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100% 100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
}

.project-collection {
  width: 686px;
  height: 430px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: purple;
  border: 30px;
}
.project-collection .project-hover {
  display: none;
}
.project-collection .project {
  height: 180px;
  width: auto;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.project-collection .project:hover .project-hover {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.801);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
}
.project-collection .project .project-cover {
  max-width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  float: left;
}

/*will-change: transform;
    transform: translate3d(-3.4146rem, 0px, 0px) scale3d(1, 1, 1) rotateX(
0deg
) rotateY(
0deg
) rotateZ(
0deg
) skew(
0deg
, 
0deg
);
    transform-style: preserve-3d;



        will-change: transform;
    transform: translate3d(-14.4334vw, 0px, 0px) scale3d(1, 1, 1) rotateX(
0deg
) rotateY(
0deg
) rotateZ(
0deg
) skew(
0deg
, 
0deg
);
    transform-style: preserve-3d;*/

/*# sourceMappingURL=output.css.map */
