/* sass --watch style.scss output.css */
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.follower {
  position: absolute;
  pointer-events: none;
}
.follower .center {
  position: fixed;
  width: 1rem;
  height: 1rem;
  background-color: #E63223;
  border-radius: 50%;
}
.follower .around {
  position: fixed;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border: 0.125rem solid #E63223;
  border-radius: 50%;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.container {
  z-index: 88888;
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 14.75rem;
  width: 19.875rem;
  grid-template-columns: repeat(4, 1fr);
}
.container .projects {
  grid-column: span 4;
  grid-column-gap: 1rem;
  display: grid;
}
.container .projects:hover ~ .circle .circle-gap {
  width: 19.875rem;
  transition: width 300ms ease-in-out;
}
.container .projects .project {
  position: absolute;
}
.container .projects .top-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid white;
  border-width: 0.125rem 0 0 0.125rem;
  top: 0;
  left: 0;
}
.container .projects .top-left:hover ~ .top-left-name {
  opacity: 1;
  position: relative;
}
.container .projects .top-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid white;
  border-width: 0.125rem 0.125rem 0 0;
  top: 0;
  right: 0;
}
.container .projects .top-right:hover ~ .top-right-name {
  opacity: 1;
  position: relative;
}
.container .projects .bottom-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid white;
  border-width: 0 0.125rem 0.125rem 0;
  bottom: 0;
  right: 0;
}
.container .projects .bottom-right:hover ~ .bottom-right-name {
  opacity: 1;
  position: relative;
}
.container .projects .bottom-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid white;
  border-width: 0 0 0.125rem 0.125rem;
  bottom: 0;
  left: 0;
}
.container .projects .bottom-left:hover ~ .bottom-left-name {
  opacity: 1;
  position: relative;
}
.container .project-name {
  opacity: 0;
  z-index: -3;
  position: absolute;
  font-size: 1.25rem;
}
.container .circle {
  z-index: -2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .circle .left {
  position: relative;
  overflow: hidden;
  height: 5.9375rem;
  width: 2.5rem;
}
.container .circle .left .inside {
  height: 5.9375rem;
  width: 5.9375rem;
  border-radius: 5.9375rem;
  border: 0.16rem solid white;
  background-color: black;
  position: absolute;
}
.container .circle .circle-gap {
  width: 1rem;
  transition: width 300ms ease-in-out;
}
.container .circle .right {
  position: relative;
  overflow: hidden;
  height: 5.9375rem;
  width: 2.5rem;
}
.container .circle .right .inside {
  height: 5.9375rem;
  width: 5.9375rem;
  border-radius: 5.9375rem;
  border: 0.16rem solid white;
  background-color: black;
  position: absolute;
  left: -3.4375rem;
}

.nav {
  display: grid;
  width: calc(100% - 1rem);
  height: calc(100vh - 1rem);
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  margin: 0;
}
.nav .menu {
  position: absolute;
  text-decoration: none;
}
.nav .menu .navbar {
  display: flex;
  align-items: center;
}
.nav .menu .navbar .material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  color: #ffffff;
  transition: font-size 100ms ease-in;
}
.nav .menu .navbar .navbar-div {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  margin: 0 1rem 1rem 0;
  border: 0.0625rem solid #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #000000;
}
.nav .menu .navbar .navbar-div:hover .hide {
  display: flex;
  transition: all 100ms ease-in-out;
}
.nav .menu .navbar .navbar-div .material-icons-outlined {
  font-size: 1.5rem;
}
.nav .menu .navbar .navbar-div .navtext {
  margin-left: 0.5rem;
}
.nav .menu .navbar .navbar-div .hide {
  display: none;
  transition: all 100ms ease-in-out;
}

.bottom-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0 0.25rem 0.25rem 0;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.top-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0.25rem 0 0 0.25rem;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.top-left:hover .top-left-name {
  opacity: 1;
  transition: all 100ms ease-in-out;
}
.top-left:hover .top-left-icon {
  height: 1.5rem;
  width: 1.5rem;
  transition: all 100ms ease-in-out;
}
.top-left .play-info {
  display: flex;
  margin: 1rem 0 0 1rem;
  align-items: center;
}
.top-left .top-left-icon {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: #E63223;
  margin-right: 0.5rem;
  transition: all 100ms ease-in-out;
}
.top-left .top-left-name {
  opacity: 0;
}

.top-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0.25rem 0.25rem 0 0;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.bottom-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0 0 0.25rem 0.25rem;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: flex-end;
}

.content {
  height: calc(100vh - 1rem);
  width: 41rem;
  overflow-y: scroll;
  position: relative;
  padding: 0.5rem;
}
.content .content-scroll {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: clip;
}
.content .content-scroll .heading {
  grid-column: span 8;
  position: relative;
  height: auto;
  margin: 0;
  display: flex;
}
.content .content-scroll .heading .heading-img {
  width: 100%;
  height: auto;
}
.content .content-scroll .heading .icon {
  background-color: #000000;
  border: 0.0625rem solid #ffffff;
  height: 3rem;
  width: 3rem;
  bottom: 0;
  position: absolute;
  margin-right: 2rem;
}
.content .content-scroll .horizontal {
  height: 300px;
  grid-column: span 8;
  width: 100%;
  overflow-x: scroll;
}
.content .content-scroll .horizontal .filmstrip {
  justify-self: flex-start;
  display: flex;
  background: #ffffff;
  height: 300px;
  width: auto;
  --background: rgba(0, 0, 0);
  --size: 0.8rem;
  background-image: linear-gradient(to right, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)), linear-gradient(to right, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)), linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
  background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
  background-repeat: repeat-x;
  background-position: -1rem var(--size), top left, -1rem calc(100% - var(--size)), bottom left, 0 var(--size);
  padding: calc(var(--size) * 3) 0;
}
.content .content-scroll .horizontal .filmstrip .content-img {
  width: auto;
  height: 100%;
  padding-right: 0.8rem;
}
.content .content-scroll .horizontal .filmstrip .content-img:last-child {
  padding-right: 0;
}
.content .content-scroll .border {
  grid-column: span 8;
}
.content .content-scroll .border .top-left {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0.125rem 0 0 0.125rem;
  top: 0;
  left: 0;
}
.content .content-scroll .border .top-right {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0.125rem 0.125rem 0 0;
  top: 0;
  right: 0;
}
.content .content-scroll .border .bottom-right {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0 0.125rem 0.125rem 0;
  bottom: 0;
  right: 0;
}
.content .content-scroll .border .bottom-left {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  border: solid #ffffff;
  border-width: 0 0 0.125rem 0.125rem;
  bottom: 0;
  left: 0;
}

.cursor {
  position: absolute;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

#cursor-overlay {
  position: absolute;
  height: 40px;
  width: 40px;
}

#landingPage-nav {
  width: 70px;
  height: 70px;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  transition-duration: 500ms;
}
#landingPage-nav .landingPage-nav-link {
  position: absolute;
  width: 30%;
  height: 30%;
  transition-duration: 300ms;
}
#landingPage-nav .landingPage-nav-link:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-width: 5px 5px 0 0;
  border-style: solid;
}
#landingPage-nav .landingPage-nav-link:hover {
  transform: scale(0.9);
}
#landingPage-nav #cursor-overlay {
  width: 60px;
  height: 60px;
}
#landingPage-nav:hover {
  width: 577px;
  height: 390px;
  background-color: none;
}
#landingPage-nav:hover .cursor {
  width: 40px;
  height: 40px;
  position: fixed;
}
#landingPage-nav:hover #cursor-overlay {
  width: 40px;
  height: 40px;
  position: fixed;
  translate: translate -50%, -50%;
  pointer-events: none;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
#landingPage-nav:hover #landingPage-diamond {
  transition-duration: 550ms;
  translate: translate -50%, -50%;
  pointer-events: none;
  transition-timing-function: ease-out;
}

a:link,
a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #E63223 #832A28;
}

#nav-top-left {
  z-index: 1;
  top: 0;
  left: 0;
}
#nav-top-left:before {
  transform: rotate(-90deg);
  top: 0;
  left: 0;
}
#nav-top-left:hover ~ #landingPage-uxui {
  display: block;
}
#nav-top-left:hover ~ #cursor-overlay {
  transform: rotate(135deg) scale(1.9);
}
#nav-top-left:hover ~ #projectPage-uxui {
  z-index: 0;
  display: flex;
  position: absolute;
  margin: 7px 40px;
  left: 0;
  top: 0;
}
#nav-top-left:hover ~ #projectPage-diamond {
  display: flex;
  position: absolute;
  margin: 10px 10px;
  left: 0;
  top: 0;
}

#nav-top-right {
  z-index: 1;
  right: 0;
  top: 0;
}
#nav-top-right:hover ~ #cursor-overlay {
  transform: rotate(-135deg) scale(1.9);
}
#nav-top-right:before {
  right: 0;
  top: 0;
}
#nav-top-right:hover ~ #landingPage-graphic {
  display: block;
}
#nav-top-right:hover ~ #projectPage-graphic {
  z-index: 0;
  display: flex;
  position: absolute;
  margin: 7px 40px;
  right: 0;
  top: 0;
}
#nav-top-right:hover ~ #projectPage-diamond {
  display: flex;
  position: absolute;
  margin: 10px 10px;
  right: 0;
  top: 0;
}

#nav-bottom-right {
  z-index: 1;
  right: 0;
  bottom: 0;
}
#nav-bottom-right:hover ~ #cursor-overlay {
  transform: rotate(-45deg) scale(1.9);
}
#nav-bottom-right:before {
  transform: rotate(90deg);
  right: 0;
  bottom: 0;
}
#nav-bottom-right:hover ~ #landingPage-about {
  display: block;
}
#nav-bottom-right:hover ~ #projectPage-about {
  z-index: 0;
  display: flex;
  position: absolute;
  margin: 7px 40px;
  right: 0;
  bottom: 0;
}
#nav-bottom-right:hover ~ #projectPage-diamond {
  display: flex;
  position: absolute;
  margin: 10px 10px;
  right: 0;
  bottom: 0;
}

#nav-bottom-left {
  z-index: 1;
  left: 0;
  bottom: 0;
}
#nav-bottom-left:hover ~ #cursor-overlay {
  transform: rotate(45deg) scale(1.9);
}
#nav-bottom-left:before {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}
#nav-bottom-left:hover ~ #landingPage-journal {
  display: block;
}
#nav-bottom-left:hover ~ #projectPage-journal {
  z-index: 0;
  display: flex;
  position: absolute;
  margin: 7px 40px;
  left: 0;
  bottom: 0;
}
#nav-bottom-left:hover ~ #projectPage-diamond {
  display: flex;
  position: absolute;
  margin: 10px 10px;
  left: 0;
  bottom: 0;
}

.nav-text {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
  color: white;
  display: none;
}

/* projectPage */
#projectPage-nav {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  margin: 16px;
  position: absolute;
  background-color: none;
  /*change to none*/
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#projectPage-nav #cursor-overlay {
  display: none;
  z-index: 4;
  transition-duration: 200ms;
}
#projectPage-nav #landingPage-diamond {
  display: none;
}
#projectPage-nav:hover #cursor-overlay {
  display: flex;
  position: fixed;
  translate: translate -50%, -50%;
  pointer-events: none;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
#projectPage-nav:hover #landingPage-diamond {
  display: flex;
  position: fixed;
  transition-duration: 550ms;
  translate: translate -50%, -50%;
  pointer-events: none;
  transition-timing-function: ease-out;
}
#projectPage-nav .projectPage-nav-link {
  position: absolute;
  width: 10%;
  height: 10%;
}
#projectPage-nav .projectPage-nav-link:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-width: 5px 5px 0 0;
  border-style: solid;
}
#projectPage-nav #projectPage-diamond {
  display: none;
  height: 25px;
  width: 25px;
}
#projectPage-nav:hover ~ .project-content {
  opacity: 0.65;
  transition-duration: 300ms;
}

.projectPage-nav-link:hover ~ .projectPage-nav-text {
  display: block;
}

.project-frame {
  width: 696px;
  height: 440px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  --b:5px;
  /* thickness of the border */
  --c:white;
  /* color of the border */
  --w:30px;
  /* width of border */
  border: var(--b) solid transparent;
  /* space for the border */
  --g:#0000 90deg,var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g)) 0 0, conic-gradient(from 180deg at top var(--b) right var(--b), var(--g)) 100% 0, conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--g)) 0 100%, conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100% 100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
}

.project-collection {
  width: 671px;
  height: 415px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: none;
  border: 30px;
}
.project-collection .project-hover {
  display: none;
}
.project-collection .project {
  height: 180px;
  width: auto;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.project-collection .project:hover .project-hover {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.801);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
}
.project-collection .project .project-cover {
  max-width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  float: left;
}

.project-collection::-webkit-scrollbar {
  display: none;
}

#project-right::-webkit-scrollbar {
  display: none;
}

.project-content {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  margin: 16px;
  overflow: scroll;
  display: inline-block;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-content .header {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.project-content .description {
  max-width: 100%;
  padding: 16px 10px;
  display: flex;
  margin: 16px 0px;
  border-style: solid;
  border-width: 3px 0 3px 0;
  border-color: white;
}
.project-content .description #overview {
  width: 50%;
  /*
  border-style: solid;
  border-color: white;
  border-width: 0 2.5px 0 0;
  */
}
.project-content .description #tools {
  width: 20%;
  /*
    border-style: solid;
    border-color: white;
    border-width: 0 2.5px 0 0;
    */
  margin: 0 70px 0 140px;
}
.project-content .description #classification {
  width: 30%;
}
.project-content .process {
  max-width: 100%;
  height: 500px;
  display: flex;
  padding: 0 0 0 10px;
  margin: 16px 0 16px 0;
}
.project-content .process #process-left {
  width: 211px;
  border-right: solid;
  padding: 10px 16px 0 0;
}
.project-content .process #process-right {
  display: flex;
  overflow: scroll;
  object-fit: scale-down;
  column-gap: 16px;
  margin-left: 16px;
  margin-right: 0;
  padding: 10px 0;
}
.project-content .process #process-right::-webkit-scrollbar {
  display: none;
}
.project-content .final-product {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  column-gap: 16px;
  margin: 16px 0 16px 0;
  white-space: nowrap;
}
.project-content .final-product img {
  height: 700px;
  position: relative;
  flex: 0 0 100vw;
}
.project-content footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  background-color: none;
  padding: 20px 0;
}
.project-content footer .project-prev-next {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
  column-gap: 70px;
  color: white;
}
.project-content footer .contact {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.project-content::-webkit-scrollbar {
  display: none;
}

.final-product::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=output.css.map */
