body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    flex-basis: auto;
}

#nav-main-logo {
    height: 70px;
    width: 70px;
    transform: rotate(45deg); /* remember to undo this when actual svg is inserted */
    background-color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px;
    transition-duration: 500ms
}

#landingPage-nav:hover #nav-main-logo {
    transform: scale(0.6);
    transform: rotate(135deg);
    transition-duration: 500ms;
    background-color: white;
}

#landingPage-nav:hover {
    display: flex;
    height: 300px;
    width: 450px;
    gap: 230px 380px; /*70px off of height and width*/
    transition-duration: 500ms;
}

#landingPage-nav {
    display: none;
    background: none;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 0px 0px; /*subtract 90px from width and height*/
    flex-wrap: wrap;
    transition-duration: 500ms;
}

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: black;
}

#nav-uxui {
    transform: rotate(-90deg);
    border-width: 5px 5px 0 0;
    border-style: solid;
    width: 30px;
    height: 30px;
}

#nav-graphic {
       border-width: 5px 5px 0 0;
    border-style: solid;
    width: 30px;
    height: 30px;
}

#nav-about {
    transform: rotate(90deg);
    border-width: 5px 5px 0 0;
    border-style: solid;
    width: 30px;
    height: 30px;
}

#nav-journal {
    transform: rotate(180deg);
    border-width: 5px 5px 0 0;
    border-style: solid;
    width: 30px;
    height: 30px;
}

.landingPage-nav-text {
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 30pt;
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#nav-text-uxui,
#nav-text-graphic,
#nav-text-about,
#nav-text-journal {
    position: absolute;
}

#nav-uxui:hover ~ .landingPage-nav-text #nav-text-uxui,
#nav-graphic:hover ~ .landingPage-nav-text #nav-text-graphic,
#nav-about:hover ~ .landingPage-nav-text #nav-text-about,
#nav-journal:hover ~ .landingPage-nav-text #nav-text-journal {
    visibility: visible;
}

#nav-uxui:hover ~ #nav-main-logo,
#nav-graphic:hover ~ #nav-main-logo,
#nav-about:hover ~ #nav-main-logo,
#nav-journal:hover ~ #nav-main-logo {
    transform: scale(0.7);
    transition: 50ms;
}

#nav-uxui:hover ~ #nav-main-logo,
#nav-graphic:hover ~ #nav-main-logo,
#nav-about:hover ~ #nav-main-logo,
#nav-journal:hover ~ #nav-main-logo {
    opacity: 50%;
    transition: 300ms;
}

#projectPage-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#projectPage-nav > #nav-graphic{
    display: flex;
    background-color: green;
    justify-self: flex-end;
    align-self: flex-start;
}

#projectPage-nav > #nav-uxui{
    display: flex;
    background-color: magenta;
    justify-self: flex-start;
    align-self: flex-start;
}

#projectPage-nav > #nav-journal{
    background-color: blue;
}

#projectPage-nav > #nav-about{
    background-color: yellow;
}
.projectPage-nav-text {
    display: flex;
}

.project-frame {
    width: 450px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    --b: 5px; /*border thickness*/
    --c: white; /*border color*/
    --w: 35px; /*corner length*/
    --g:#0000 90deg,var(--c) 0;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
    background-size:var(--w) var(--w);
    background-origin:border-box;
    background-repeat:no-repeat;
}