/* sass --watch style.scss output.css */
* {
  box-sizing: border-box;
}

$red: #E63223;
$white: #ffffff;
$black: #000000;

body {
  background-color: $black;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.375rem;
  color: $white;
  margin: 0 0 0.375rem 0;
  font-weight: 600;
  font-style: bold;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.0625rem;
  color: $white;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-style: medium;
  margin-bottom: 0.375rem;
}

p, button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  color: $white;
  margin: 0;
  line-height: 1.25;
}

section {
  grid-column: span 8;
  margin-bottom: 5rem;
}


.follower {
  z-index: 18;
  position: absolute;
  border-radius: 50%;
  transform:translate(-50%,-50%);
  @media (max-width: 600px) {
    display: none;
    }
}

.follower-center {
  width: 1rem;
  height: 1rem;
  background-color: $red;
  transition: all 100ms ease-out;
}
.follower-around {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.125rem solid $red;
  transition: all 400ms ease-out;
}



a:link,
a:visited {
  color: $white;
}

a:hover {
  color: $white;
}

a:active {
  color: $red;
}

@keyframes top-left-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(-0.25rem, -0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes top-right-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(0.25rem, -0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes bottom-right-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(0.25rem, 0.25rem); }
  100% { transform: translateY(0); }
}
@keyframes bottom-left-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translate(-0.25rem, 0.25rem); }
  100% { transform: translateY(0); }
}

.inner-container {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 14.75rem;
  width: 19.875rem;
  grid-template-columns: repeat(4, 1fr);
  .projects {
    z-index: 999999;
    grid-column: span 4;
    grid-column-gap: 1rem;
    display: grid;
    &:hover ~ .circle {
      .circle-gap {
        width: 19.875rem;
        transition: width 400ms ease-out;
      }
    }
    .top-left, .top-right, .bottom-left, .bottom-right {
      position: absolute;
      z-index: -55555;
    }
    .top-left {
      height: 3.125rem;
      width: 3.125rem;
      border: solid $white;
      border-width: 0.125rem 0 0 0.125rem;
      top: 0;
      left: 0;
      transition: all 300ms ease-in-out;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: top-left-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
      &:hover ~ .top-left-name {
        display: block;
        color: $white;
        opacity: 1;
        transition: color 300ms ease-in, opactiy 1ms linear, z-index 1ms linear;
        z-index: 5;
      }
    }
    .top-right {
      height: 3.125rem;
      width: 3.125rem;
      border: solid $white;
      border-width: 0.125rem 0.125rem 0 0;
      top: 0;
      right: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: top-right-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
      &:hover ~ .top-right-name {
        display: block;
        color: $white;
        opacity: 1;
        transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
        z-index: 5;
      }
    }
    .bottom-right {
      height: 3.125rem;
      width: 3.125rem;
      border: solid $white;
      border-width: 0 0.125rem 0.125rem 0;
      bottom: 0;
      right: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: bottom-right-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
      &:hover ~ .bottom-right-name {
        display: block;
        color: $white;
        opacity: 1;
        transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
        z-index: 5;
      }
    }
    .bottom-left {
      height: 3.125rem;
      width: 3.125rem;
      border: solid $white;
      border-width: 0 0 0.125rem 0.125rem;
      bottom: 0;
      left: 0;
      &:hover {
        border-color: $red;
        transition: all 300ms ease-in-out;
        animation: bottom-left-bounce 1800ms ease;
        animation-iteration-count: infinite;
      }
      &:active {
        border-color: $black;
      }
      &:hover ~ .bottom-left-name {
        display: block;
        color: $white;
        opacity: 1;
        transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
        z-index: 5;
      }
    }
  }

  .top-left-name, .top-right-name, .bottom-right-name, .bottom-left-name {
    z-index: -3;
    position: absolute;
    font-size: 1.25rem;
    justify-self: center;
    align-self: center;
    color: $black;
    opacity: 0;
    transition: color 300ms ease-in, opactiy 1ms ease-in, z-index 1ms linear;
    pointer-events: none;
  }
  
  .circle {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      position: relative;
      overflow: hidden;
      height: 5.9375rem;
      width: 2.5rem;
      .inside {
        height: 5.9375rem;
        width: 5.9375rem;
        border-radius: 5.9375rem;
        border: 0.125rem solid $white;
        background-color: $black;
        position: absolute;
      }
    }
    .circle-gap {
      width: 1rem;
      height: 0;
      transition: width 400ms ease-out;
      background-color: $black;
    }
    .right {
      position: relative;
      overflow: hidden;
      height: 5.9375rem;
      width: 2.5rem;
      .inside {
        height: 5.9375rem;
        width: 5.9375rem;
        border-radius: 5.9375rem;
        border: 0.125rem solid $white;
        background-color: $black;
        position: absolute;
        left: -3.4375rem;
      }
    }
  }
  
}

.outer-container {
  display: grid;
  width: calc(100% - 1rem);
  height: calc(100vh - 1rem);
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  margin: 0;
  .outer-border {
    z-index: 9999;
    position: absolute;
    text-decoration: none;
    .navbar {
      display: flex;
      align-items: center;
      .material-icons-outlined {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1.5rem;
        color: $white;
        transition: font-size 100ms ease-in;
      }
      .navbar-div {
        height: 2rem;
        width: auto;
        padding: 0.5rem;
        margin: 0 1rem 1rem 0;
        border: 0.0625rem solid $white;   
        display: flex;   
        align-items: center;
        text-decoration: none;
        background-color: $black;
        transition: transform 200ms ease-out;
        &:hover {
          transform: scale(1.1);
          transition: transform 200ms ease-out;
          background-color: $white;
          .navbar-text, .material-icons-outlined {
            color: $black;
          }
        }
        &:active {
          background-color: $red;
          .navbar-text, .material-icons-outlined {
            color: $white;
          }
        }
        @media (max-width: 600px) {
          padding: 0.5rem 0 0.5rem 0.5rem;
          &:hover {
            padding: 0.5rem;
          }
        }
        &:hover .navbar-text {
          flex: 1;
          width: auto;
          opacity: 1;
          transition: all 200ms ease-in;
        }
        .material-icons-outlined {
          font-size: 1.5rem;
          color: $white;
        }
        .navbar-text {
          margin-left: 0.5rem;
          flex: 1;
          @media (max-width: 600px) {
            flex: 0;
            overflow: hidden;
            opacity: 0;
            width: 0;
            transition: all 200ms ease-in;
          }
        }
      }
    }
  }
}


///////////////////////////container brackets
.bottom-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid $white;
  border-width: 0 0.25rem 0.25rem 0;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.top-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid $white;
  border-width: 0.25rem 0 0 0.25rem;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &:hover .top-left-name {
    opacity: 1;
    transition: all 100ms ease-in-out;
  }
  &:hover .top-left-icon {
    height: 1.5rem;
    width: 1.5rem;
    transition: all 100ms ease-in-out;
  }
  .play-info {
    display: flex;
    margin: 1rem 0 0 1rem;
    align-items: center;
  }
  .top-left-icon {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: $red;
    margin-right: 0.5rem;
    transition: all 100ms ease-in-out;
  }
  .top-left-name {
    opacity: 0;
  }
}

.top-right {
  height: 3.125rem;
  width: 3.125rem;
  border: solid $white;
  border-width: 0.25rem 0.25rem 0 0;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.bottom-left {
  height: 3.125rem;
  width: 3.125rem;
  border: solid $white;
  border-width: 0 0 0.25rem 0.25rem;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}


/////////////////////// project page ///////////////////////////
.border {
  grid-column: span 8;
  height: calc(100vh - 1rem);
  width: 41rem;
  position: relative;
  padding: 0.5rem;
  @media (max-width: 600px) {
    height: 40.625rem;
    }
  .top-left {
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    border: solid $white;
    border-width: 0.125rem 0 0 0.125rem;
    top: 0;
    left: 0;
  }
  .top-right {
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    border: solid $white;
    border-width: 0.125rem 0.125rem 0 0;
    top: 0;
    right: 0;
  }
  .bottom-right {
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    border: solid $white;
    border-width: 0 0.125rem 0.125rem 0;
    bottom: 0;
    right: 0;
  }
  .bottom-left {
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    border: solid $white;
    border-width: 0 0 0.125rem 0.125rem;
    bottom: 0;
    left: 0;
  }
}


.content {
  overflow-y: scroll;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 1px; /* Mostly for vertical scrollbars */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
  }
  &::-webkit-scrollbar-track { /* Background */
    background: $black;
  }
  .heading {
    grid-column: span 8;
    position: relative;
    height: auto;
    margin: 0 0 1.875rem;
    display: flex;
    .heading-img {
      width: 100%;
      height: auto;
    }
    .icons {
      bottom: 0;
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding: 0.8rem;
      .icon {
        margin-right: 0.8rem;
        background-color: $black;
        border: 0.0625rem solid $white;
        height: 3rem;
        width: auto;
        align-items: center;
        justify-content: center;
        padding: 1rem;
      }
    }
  }
  .design-system {
    grid-column: span 8;
    width: 100%;
    height: auto;
  }
  .about {
    grid-column: span 8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .about-details {
      min-width: 120px;
    }
    &:not(:last-child){
      margin-bottom: 1.875rem;
    }
  }
  .block {
    grid-column: span 8;
    min-width: 100%;
    padding: 2rem 2.625rem;
    border: 0.0625rem $white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .box {
    max-width: 100%;;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    @media (max-width: 600px) {
      flex-direction: column;
      row-gap: 1rem;
      }
    .box-details {
      border: 0.0625rem $white solid;
      padding: 1rem;
    }
  }
  .brief {
    grid-column: span 8;
    flex-wrap: wrap;
    &:not(:last-child){
      margin-bottom: 1.875rem;
    }
  }
  .final-details {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-column-gap: 1rem;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
    &:not(:first-child) {
      margin-top: 3.75rem;
    }
  }
  .horizontal.enlarge {
    transition: all 300ms ease-in-out;
    height: 37.5rem;
    .filmstrip {
      --size: 1.5rem;
      padding: 3.75rem 0;
      transition: padding 0ms linear;
      transition: all 300ms ease-in-out;
      .filmstrip-imgs {
        padding: 0 0.5rem;
        transition: all 300ms ease-in-out;
      }
    }
  }
  .horizontal {
    transition: all 300ms ease-in-out;
    height: 25rem;
    grid-column: span 8;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: flex-start;
    border-width: 0.0625rem 0 0;
    border-style: solid;
    border-color: $white;
    padding: 0 1rem;
    margin: 0;
    &::-webkit-scrollbar {
      height: 0.0625rem ; /* Mostly for vertical scrollbars */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $red;
    }
    &::-webkit-scrollbar-track { /* Background */
      background: $white;
    }
    .filmstrip {
      display: flex;
      overflow: hidden;
      background: $white;
      height: 100%;
      --background: rgba(0, 0, 0);
      --size: 1rem;
      background-image:
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
        linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
      background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
      background-repeat: repeat-x;
      background-position: -1rem var(--size), top left, -1rem calc(100% - var(--size)), bottom left, 0 var(--size);
      padding: 2.5rem 0;
      transition: padding 0ms linear;
      transition: all 300ms ease-in-out;
      .filmstrip-imgs {
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        transition: all 300ms ease-in-out;
        // overflow: hidden;
        .filmstrip-img {
          width: auto;
          height: 100%;
          padding: 0.5rem;
        }
      }
    }
  }
}

//////////////////////////play section
.play-container {
  position: absolute;
  width: 824px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  .play-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: scroll;
    row-gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 1px; /* Mostly for vertical scrollbars */
    }
    &::-webkit-scrollbar-thumb {
      background-color: $red;
    }
    &::-webkit-scrollbar-track { /* Background */
      background: $black;
    }
    .play-card {
      padding: 1rem 10px;
      width: 100%;
      min-height: 150px;
      height: auto;
      background-color: grey;
      .play-card-text {
        display: block;
        .tag {
          color: $red;
        }
      }
    }
  }
  .play-description {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 116px;
    justify-content: space-between;
    justify-self: flex-end;
    button {
      height: 2rem;
      width: auto;
      padding: 0.5rem;
      margin: 0 0 1rem 0;
      border: 0.0625rem solid $white;   
      display: flex;   
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      color: $white;
      background-color: $black;
      transition: transform 200ms ease-out;
      .material-icons-outlined {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1.2rem;
        color: $white;
        transition: font-size 100ms ease-in;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 200ms ease-out;
        background-color: $white;
        color: $black;
        .material-icons-outlined {
          color: $black;
        }
      }
    }
    .play-date {
      display: block;
    }
    .play-description-text {
      align-self: flex-end;
    }
  }
}