body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    flex-basis: auto;
}

/*
.homepage-main-logo {
    height: 300px;
    width: 450px;
    background-color: green;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px;
}
*/

#nav-main-logo {
    height: 70px;
    width: 70px;
    transform: rotate(45deg); /* remember to undo this when actual svg is inserted */
    background-color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px;
    transition-duration: 500ms
}

/*
.homepage-main-logo:hover #nav-main-logo {
    transform: scale(-0.5);
}

.homepage-main-logo:hover + .homepage-nav {
    visibility: visible;
}

gap: 210px 360px;

*/
.homepage-nav:hover #nav-main-logo {
    transform: scale(0.6);
    transform: rotate(135deg);
    transition-duration: 500ms;
    background-color: green;
}

.homepage-nav:hover {
    display: flex;
    height: 300px;
    width: 450px;
    border: 120px;
    border-color: none;
    border-style: solid;
    gap: 210px 360px;
    transition-duration: 500ms;
}

.homepage-nav {
    display: none;
    background: none;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 0px 0px; /*subtract 90px from width and height*/
    flex-wrap: wrap;
    transition-duration: 500ms;
}

.nav {
    border-width: 5px 5px 0 0;
    border-style: solid;
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: none;
}

/* .startingpoint is a placeholder for the .svg logo to come. learning how to do transitions in css right now. 


.startingpoint {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 60px;
    transform: rotate(45deg);
    background-color: red;
}
 
trying to fix hovering and flickering problem

.startingpoint:hover + .homepage {
    visibility: visible;
    cursor: pointer;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: white;
    flex-wrap: wrap;
}
*/

a:link, a:visited {
    color: white;
}

a:hover, a:active {
    color: black;
}

#nav-uxui {
    transform: rotate(-90deg);
}

#nav-graphic {
}

#nav-about {
    transform: rotate(90deg);
}

#nav-journal {
    transform: rotate(180deg);
}

.nav-text-uxui,
.nav-text-graphic,
.nav-text-about,
.nav-text-journal {
    visibility: hidden;
    font-size: 24pt;
    color: green;
    background-color: violet;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
}

#nav-uxui:hover ~ .nav-text-uxui,
#nav-graphic:hover ~ .nav-text-graphic,
#nav-about:hover ~ .nav-text-about,
#nav-journal:hover ~ .nav-text-journal {
    visibility: visible;
}
