/* sass --watch style.scss output.css */
body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.cursor {
  position: absolute;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  #cursor-back {
    position: absolute;
  }
}

#cursor-overlay {
  position: absolute;
  height: 60px;
  width: 60px;
}


#landingPage-nav {
  width: 70px;
  height: 70px;
  background-color: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition-duration: 500ms;
  .landingPage-nav-link {
    position: absolute;
    width: 30%;
    height: 30%;
    transition-duration: 300ms;
    &:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      border-width: 5px 5px 0 0;
      border-style: solid;
    }
    &:hover {
      transform: scale(0.9);
    }
  }
  &:hover {
    width: 577px;
    height: 390px;
    background-color: none;
    .cursor {
      width: 40px;
      height: 40px;
      position: fixed;
  }
    #cursor-overlay{
      position: fixed;
      translate: translate (-50%, -50%);
      pointer-events: none;
      transition-duration: 300ms;
      transition-timing-function: ease-out;
    }
    #cursor-back {
      transition-duration: 550ms;
      translate: translate (-50%, -50%);
      pointer-events: none;
      transition-timing-function: ease-out;
    }
  }
}


a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: #CF3632;
}

#nav-top-left {
  z-index: 1;
  top: 0;
  left: 0;
  &:hover ~ #cursor-overlay {
    transform: rotate(135deg) scale(1.9);
  }
  &:before {
    transform: rotate(-90deg);
    top: 0;
    left: 0;
  }
  &:hover ~ #landingPage-uxui {
    display: block;
  }
}

#nav-top-right {
  z-index: 1;
  right: 0;
  top: 0;
  &:hover ~ #cursor-overlay {
    transform: rotate(-135deg) scale(1.9);
  }
  &:before {
    right: 0;
    top: 0;
  }
  &:hover ~ #landingPage-graphic {
    display: block;
  }
  &:hover ~ #projectPage-graphic {
    z-index: 0;
    display: flex;
    position: absolute;
    margin: 0px 40px;
    right: 0;
    top: 0;
  }
}

#nav-bottom-right {
  z-index: 1;
  right: 0;
  bottom: 0;
  &:hover ~ #cursor-overlay {
    transform: rotate(-45deg) scale(1.9);
  }
  &:before {
    transform: rotate(90deg);
    right: 0;
    bottom: 0;
  }
  &:hover ~ #landingPage-about {
    display: block;
  }
}

#nav-bottom-left {
  z-index: 1;
  left: 0;
  bottom: 0;
  &:hover ~ #cursor-overlay {
    transform: rotate(45deg) scale(1.9);
  }
  &:before {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
  }
  &:hover ~ #landingPage-journal {
    display: block;
  }
}

.nav-text {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 30pt;
  color: white;
  display: none;
}


/* projectPage */

.projectPage-nav {
  height: 97%;
  width: 97%;
  background-color: orange; /*change to none*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /*remove when design is done*/
  .projectPage-nav-link {
    position: absolute;
    width: 10%;
    height: 10%;
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-width: 5px 5px 0 0;
      border-style: solid;
    }
  }
  #projectPage-nav-logo {
    height: 70px;
    width: 70px;
    transform: rotate(45deg); /* remember to undo this when actual svg is inserted */
    background-color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
  }
}

.projectPage-nav-link:hover {
  & ~ .projectPage-nav-text  {
    display: block;
  }
  & ~ #projectPage-nav-logo {
    animation: logo-spin 300ms linear;
    animation-fill-mode: forwards;
  }
}

.project-frame {
  width: 696px;
  height: 440px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  overflow: scroll;
  scroll-margin: 30px;
  --b:5px;   /* thickness of the border */
  --c:green;   /* color of the border */
  --w:30px;  /* width of border */
  border:var(--b) solid transparent; /* space for the border */
  --g:#0000 90deg,var(--c) 0;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--g)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--g)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--g)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--g)) 100% 100%;
  background-size:var(--w) var(--w);
  background-origin:border-box;
  background-repeat:no-repeat;
}

.project-collection {
  width: 696px - 10px;
  height: 440px - 10px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: purple;
  border: 30px;
  .project-hover {
    display: none;
  }
    .project {
    height: 180px;
    width: auto;
    background-color: red;  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    &:hover .project-hover {
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.801);
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 200ms;
    }
    .project-cover {
      max-width: 100%;
      position: absolute;
      justify-content: center;
      align-items: center;
      float: left;
    }
  }
}

.project-content {
  height: 95%;
  width: 95%;
  overflow: scroll;
  display: inline-block;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  .header {
    height: 400px;
    width: 100%;
    object-fit: cover;
  } 
  .description {
    max-width: 100%;
    padding: +20px 10px;
    display: flex;
    margin: 20px 0px;
    border-style: solid;
    border-width: 3px 0 3px 0;
    border-color: white;
    #overview {
      width: 50%;
      /*
      border-style: solid;
      border-color: white;
      border-width: 0 2.5px 0 0;
      */
    }
    #tools {
      width: 20%;
    /*
      border-style: solid;
      border-color: white;
      border-width: 0 2.5px 0 0;
      */
      margin: 0 30px 0 30px;
    }
    #classification{
      width: 30%;
    }
  }
  .process {
    max-width: 100%;
    height: 500px;
    display: flex;
    padding: 0px 10px;
    margin: 20px 0;
    #process-left {
      width: 20%;
      border-right: solid;
      padding: 10px 0;
    }
    #process-right {
      width: 80%;
      display: flex;
      overflow: scroll;
      object-fit: scale-down;
      gap: 10px;
      margin-left: 20px;
      padding: 10px 0;
    }
  }
  .final-product {
    img {
      max-width: 100%;
      margin: 7px 0;
    }
  }
  footer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: green;
    padding: 30px 0;
    margin-top: 7px;
    .prev-next {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-bottom: 50px;
      column-gap: 70px;
    }
    .contact {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }

}



/* will-change: transform;
    transform: translate3d(-3.4146rem, 0px, 0px) scale3d(1, 1, 1) rotateX(
0deg
) rotateY(
0deg
) rotateZ(
0deg
) skew(
0deg
, 
0deg
);
transform-style: preserve-3d;



will-change: transform;
transform: translate3d(-14.4334vw, 0px, 0px) scale3d(1, 1, 1) rotateX(
0deg
) rotateY(
0deg
) rotateZ(
0deg
) skew(
0deg
, 
0deg
);
    transform-style: preserve-3d; */ 