* {
  box-sizing: border-box;
  border-radius: 6px;
  // cursor: none;
  background-color: transparent;
  cursor: none;
}

// primary colors
$primary: #F0EFE8;
$primary-light: #F7F6F0;
$primary-dark: #CBC6B8;
$primary-bg: #E9E7E0;
$primary-code: #8B8676;

$red: #E63223; 
$text-primary: #1A0F04; 


body {
  background-color: $primary;
  // > * {
  //   background-color: transparent !important;
  // }
}

// a styling
a, a.landing-item > .landing-item-text > p:not(.landing-item-text), a > .landing-item-text {
  transition: text-decoration-color 100ms ease-in-out;
  text-decoration: none;
  text-decoration-color: transparent;
  // for p tags that wrap around a tags, except for .captions, also apply a tag styling
  & p:not(.caption), p:not(.caption) > a, > p:not(.caption), h2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $primary-dark;
    transition: text-decoration-color 100ms ease-in-out;
  }
  & *:is(p, h3, h4, .header-text-home-name), a > .landing-item-text {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    transition: text-decoration-color 100ms ease-in-out;
  }
  .with-accessory {
    display: flex; 
    width: fit-content;
    gap: 12px;
    p {
      white-space: nowrap; 
      width: min-content;
    }
  }
}

//a:hover > *:not(h4, h3), 
a:visited, a:hover > *:is(p, h2, h3, h4, .header-text-home-name), li > a:visited, a:hover > .landing-item-text {
  color: $text-primary;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: $red;
  transition: text-decoration-color 100ms ease-in-out;
}

a:active, a:active > *  {
  text-decoration-color: $red;
  color: $red;
  transition: text-decoration-color 100ms ease-in-out;
}

p a:link, h3 a:link, h2 > a, li a:link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: $text-primary;
  text-decoration-color: $primary-dark;
  transition: text-decoration-color 100ms ease-in-out;
  @media (hover: hover) {
    text-decoration-color: $red;
    color: $red;
    transition: text-decoration-color 100ms ease-in-out;
  }
}


// for scrolling outside of div //
// #target{
//   overflow-y: scroll;
//   scroll-snap-type: mandatory;
//   scroll-snap-points-y: repeat(300px);
//   scroll-snap-type: y mandatory;
// }

// typography
h1, h2, h2, h3, h4, h5, p, .caption {
  margin: 0;
  padding: 0;
}

h1 {
  color: $text-primary;
  font-family: ivyora-display, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: 96px; /* 133.333% */
  letter-spacing: 1px;
}

// big enough to be heading
// h2 {
//   color: $primary-dark;
//   font-family: ivyora-display, sans-serif;
//   font-size: 52px;
//   font-style: normal;
//   font-weight: 100;
//   line-height: 60px; /* 134.375% */
//   letter-spacing: 1px;
// }

// big questions
// h2 {
//   color: $primary-dark;
//   font-family: ivyora-display, sans-serif;
//   font-size: 36px;
//   font-style: normal;
//   font-weight: 100;
//   line-height: 48px; /* 126.667% */
//   letter-spacing: 1px;
//   b {
//     font-weight: 150;
//   }
// }

// toc, nav
h3 {
  color: $primary-dark;
  font-family: ivyora-display, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 1px;
}


h4 {
  color: $primary-dark;
  font-family: ivyora-display, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 1px;
}

h5 {
  color: $primary-dark;
  font-family: source-code-pro, monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
  text-transform: uppercase;
}



body, p, ul, ol, li {
  color: #000;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 24px; /* 160.952% */
  letter-spacing: 1.4px;
}

p {
  display: inline-block;
  &.col-overflow {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

ul, ol {
  list-style-position: inside;
  list-style: none;
  padding: 0;
  margin: 0 0 0 0.5rem;
  // margin left should match li padding-left and &:before width and (-)margin left
}


li {
  // need this for multiple lines
  padding-left: 0.5rem;
  // li padding-left, &:before width and (-)margin-left need to match
  
  text-indent: -0.25rem;
  // li (0)text-indent and &:before margin-right need to match

  margin-bottom: 1.375rem;
  text-align: left;
  &:before {
    display: inline-block;
    width: 0.5rem;
    text-align: left;
    margin-left: -0.5rem;
    margin-right: 0.25rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul > li {
  &:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
  }
}

ol {
  counter-reset: item;
}

ol > li {
  // counter-increment: li;
  &:before {
    // content: counter(li) ". ";
    content: counters(item, ".") " "; counter-increment: item;
    color: red; /* or whatever color you prefer */
  }
  ol {
    margin: 0 0 0 0;
    // counteracting the ol margin-right in first-level list items, could aadd in margin-top on first-level list item to add back in space
  }
  li {
    padding-left: 1.75rem;
    // li padding-left, &:before width and (-)margin-left need to match
    text-indent: -0rem;
    // li (0)text-indent and &:before margin-right need to match

    margin-bottom: 0;
    
    &::before {
      content: counters(item, ".") " "; counter-increment: item;
      width: 1.75rem;
      margin-left: -1.75rem;
      margin-right: 0rem;
    }
  }
}

.caption {
  color: $primary-dark;
  font-family: source-code-pro, monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

///grid setup
body {  
  color: $primary-dark !important;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


br {
  display: block;
  content: "";
  margin-top: 0.5rem;
}

#left-content {
  display: grid;
  //columns
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem; //48px
  // rows
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3rem; // 48px
  // both columns & rows
  padding: 4rem 1rem 4rem 4rem; // 64px
  position: absolute;
  height: 100%;
  width: 20vw;
  left: 0;
  background-color: transparent;
  > * {
    background-color: transparent;
    width: calc(20vw - 80px);
  }
}

.title {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  width: min-content;
  // height: fit-content;
  transition: all 300ms ease-in;
  pointer-events: all;
  z-index: 9999;
  white-space: nowrap;
  @media (hover: hover) {
    &:hover #to-page {
      opacity: 1;
      transition: opacity 100ms ease-out;
    }
    &:hover #current-page {
      opacity: 0;
      transition: opacity 100ms ease-out;
    }
  }
}

#to-page {
  opacity: 0;
}

h1#current-page, #current-page > h1 {
  opacity: 50%;
}


#to-page, #current-page {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 100ms ease-out;
}

.unfocused {
  opacity: 50%;
}

.toc {
  display: flex;
  position: fixed;
  flex-direction: column;
  grid-column: 1/2;
  columns: $primary-dark;
  // width: inherit;
  row-gap: 1.5rem; // 24px
  overflow: visible;
  z-index: 9999;
  .unfocused {
    opacity: 50%;
  }
  .focused {
    opacity: 100%;
  }
}

// nav {
//   position: fixed;
//   display: grid;
//   grid-column: 1/2;
//   grid-row: 4/5;
//   row-gap: 1.5rem; // 24px
//   bottom: 4rem;
//   height: min-content;
//   z-index: 9999;
// }

#homepage {
  overflow-y: hidden;
}


// .video-grid {
//   margin-bottom: 5rem;
// }

video {
  height: auto;
  // border-bottom: 1px solid transparent;
  // background: transparent;
  box-shadow: none;
  > source {
    padding-bottom: 1rem;
    box-shadow: none;
  }
}

// .wrapper {
//   display: grid;
//   //columns
//   grid-template-columns: repeat(10, 1fr);
//   column-gap: 2rem; //48px
//   // row-gap: 60px;

//   // both columns & rows
//   padding: 0 4rem 0 2rem; // 0 64px 0 32px
  
//   //row
//   grid-row: 1/5;
//   height: 100%;
//   overflow-y: scroll;
//   overflow-x: visible;

//   // scroll snap
//   // scroll-snap-type: y mandatory;
//   scroll-behavior: smooth;
//   scroll-snap-type: y proximity;

//   width: 80vw;
//   right: 0;
//   position: absolute;

//   // hero section
//   section:first-child {
//     padding-top: 4rem;
//     min-height: 100vh; 
//     height: auto; 
//     align-content: center;
//   }

//   section:last-child {
//     padding-bottom: 4rem;
//   }

//   &-boxes {
//     grid-column: 2/11;
//     display: grid;
//     grid-template-columns: repeat(9, 1fr);
//     column-gap: 2rem; //48px
//     row-gap: 60px;
//     height: min-content;
//     align-self: center;
//     align-items: flex-start;

//     &-box {
//       position: relative;
//       display: grid;
//       grid-column: span 3;
//       row-gap: 1.5rem; /* 24px */
//       transition: all 500ms ease-in-out;
//       &-img {
//         overflow: hidden;
//         min-height: 300px;
//         max-height: 300px;
//         background-color: $primary;
//       }
//       img {
//         object-fit: cover;
//         // max-width: 100%;
//         max-height: 100%;
//         overflow: hidden;
//         // scale: 1;
//         filter: grayscale(95%);
//         transition: all 500ms ease-in-out;
//         &[data-img-zoom-mark] {
//           scale: 1.7;
//           transform: translate(-10px, 40px);
//         }
//         &[data-img-zoom-hereafter] {
//           scale: 1.5;
//           transform: translate(10px, 20px);
//         }
//         &[data-img-zoom-yads] {
//           scale: 1.4;
//         }
//       }
//       @media (hover: hover) {
//         &:hover {
//           img {
//             transform: translate(0);
//             scale: 1;
//             filter: grayscale(0%);
//             transition: all 650ms ease-in-out;
//           }
//           .help {
//             bottom: -300px;
//             transition: all 650ms ease-in-out;
//           }
//         }
//       }
//       .help {
//         height: 300px;
//         transition: all 650ms ease-in-out;
//         position: absolute;
//         bottom: 0px;
//         z-index: -9;
//       }
//     }
//   }

//   &-hero {
//     max-height: 100vh;
//   }

//   &-content {
//     img {
//       object-fit: contain;
//       max-width: 100%;
//       max-height: 100%;
//       overflow: visible;
//     }
//     display: grid;
//     grid-column: 1/11;
//     grid-template-columns: repeat(10, 1fr);
//     column-gap: 2rem; //48px
//     row-gap: 1.5rem /* 24px */;
//     width: 100%;
//     // min-height: 100vh;
//     // max-height: 100vh;
//     height: fit-content;
//     margin-bottom: 10rem;
//     align-content: center;
  
//     // scroll snap
//     scroll-snap-align: center;

//     > * {
//       row-gap: 120px;
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//     }

//     &.together {
//       // scroll snap
//       scroll-snap-align: center;
//       max-height: min-content;
//       height: min-content;
//       min-height: min-content;
//       padding: 3.5rem 0;
//       &.heading {
//         margin-top: 50vh;
//         padding-top: 0;
//       }
//     }
//   }


//   &-inner {
//     display: grid;
//     row-gap: 1.5rem /* 24px */;
//   }
// }


// section {
//   img {
//     object-fit: contain;
//     max-width: 100%;
//     max-height: 100%;
//   }
//   display: grid;
//   grid-column: 1/11;
//   grid-template-columns: repeat(10, 1fr);
//   column-gap: 2rem; //48px
//   row-gap: 1.5rem /* 24px */;
//   width: 100%;
//   height: fit-content;
//   margin-bottom: 12rem;
// }


// *[class^="col-"], *[class*="col-"] {
//   // applies to all div with said class, no idea what the * does but it's a wild card
//   flex-direction: column;
//   height: min-content;
//   justify-content: center;
//   &.center {
//     align-items: center;
//     align-self: center;
//   }
//   &.center-y {
//     align-self: center;
//   }
//   &.center-x {
//     align-items: center;
//   }
// }

// column layouts

// 2 col layouts
// .col-2l {
//   grid-column: 1/3;
//   display: flex;
// }
// .col-2ml {
//   grid-column: 3/5;
//   display: flex;
// }
// .col-2mr {
//   grid-column: 5/7;
//   display: flex;
// }
// .col-2r {
//   grid-column: 7/9;
//   display: flex;
// }


// // 3 col
// .col-3l {
//   grid-column: 1/4;
//   display: flex;
// }
// .col-3m {
//   grid-column: 4/7;
//   display: flex;
// }
// .col-3r {
//   grid-column: 7/10;
//   display: flex;
// }


// // 4 col layouts
// .col-4l {
//   grid-column: 1/5;
//   display: flex;
// }

// .col-4m {
//   grid-column: 3/7;
//   display: flex;
// }

// .col-4r {
//   grid-column: 7/11;
//   display: flex;
// }

// // 5 col layouts
// .col-5l {
//   grid-column: 1/6;
//   display: flex;

// }
// .col-5r {
//   grid-column: 6/11;
//   display: flex;
// }

// // 6 col layouts
// .col-6l {
//   grid-column: 1/7;
//   display: flex;
//   &.row-display {
//     flex-direction: row;
//     column-gap: 2rem;
//     img {
//       height: min-content;
//       width: 100%;
//       align-self: center;
//     }
//   }
// }
// .col-6r {
//   grid-column: 5/11;
//   display: flex;
// }


// // 7 col layouts
// .col-7l {
//   grid-column: 1/8;
//   display: flex;
// }

// .col-7r {
//   grid-column: 4/11;
//   display: flex;
// }


// // 8 col
// .col-8 {
//   display: grid;
//   grid-column: 1/11;
//   grid-template-columns: repeat(10, 1fr);
//   column-gap: 1.5rem; /* 24px */
//   // the following code is just for the fake table
//   > .col-6l {
//     justify-content: flex-end;
//   }
//   &.fake-table {
//     height: min-content;
//     align-items: flex-start;
//     > [class^="col-"] {
//       display: inherit;
//       vertical-align: top;
//     }
//   }
// }

// .img-caption {
//   gap: 3rem;
// }


////cursor
.cursor-center.zoom {
  display: none;
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  border: 0.075rem solid $red; 
}

.cursor-around.zoom {
  width: 16.5rem;
  height: 16.5rem;
  transition: all 500ms ease-out;
}

.cursor {
  // transition: all 100ms ease-out;
  z-index: 9999999999;
  position: absolute;
  border-radius: 50%;
  transform:translate(-50%,-50%);
  pointer-events: none;
  @media (max-width: 1000px) {
    display: none;
    }
}

.cursor-center {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.075rem solid $red;
  transition: left 1ms ease-out, top 1ms ease-out, width 350ms ease-in, height 350ms ease-in;
  &.hover {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.cursor-around {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.075rem solid $red;
  transition: left 550ms ease-out, top 550ms ease-out, width 350ms ease-in, height 350ms ease-in;
  // &.hover {
  //   width: 4.5em;
  //   height: 4.5em;
  // }
}

.ripple-zoom {
  background-color: transparent;
  display: grid;
  grid-column: span 8;
  width: 100%;
  row-gap: 0.5rem;
  margin-bottom: 8.5rem;
  overflow: visible;
}

.ripple-zoom-area {
  transition: all 100ms ease-out;
  cursor: none; 
  position: relative; 
  z-index: 99; 
  background-origin: content-box;
  width: 100%;
  background-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  &.color {
    border: green;
    border-style: solid;
    border-width: 2px;
  }
}

.ripple-zoom-area-window {
  transition: all 500ms ease-out;
  display: none; 
  cursor: none; 
  position: absolute; 
  left: 50%; 
  top: 50%;  
  border-radius: 50%; 
  border: 0.075rem solid $red; 
  background-color: $primary;
  width: 15rem;
  height: 15rem;
}

// mobile styling
@media (max-width: 600px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  h1 {
    font-size: 56px;
    line-height: 80px;   
  }

  #left-content {
    width: 100%;
    padding: 0; 
    column-gap: 1.5rem; /* 24px */
    grid-column: span 4;
    position: static;
  }

  .title {
    position: static;
    display: block;
    white-space: wrap;
    word-break: break-all;
    max-width: 100vh;
    grid-column: span 4;
    > * {
      padding: 2rem;
    }
  }
  

  // selecting all column layouts
  [class^="col-"] {
    grid-column: span 4;
    width: 100%;
    height: fit-content;
  }

  .toc {
    row-gap: 1rem; /* 16px */
    display: none;
    grid-column: span 4;
    // width: 100%;
  }

  nav {
    row-gap: 1rem; /* 16px */
    bottom: 2rem; /* 32px */
    display: none;
    grid-column: span 4;
  }

  // #homepage {
  //   overflow-y: scroll;
  //   padding-top: 40vh;
  // }

  .wrapper {
    height: min-content;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
    padding: 4rem 2rem; /* 32px */
    column-gap: 1.5rem; /* 24px */
    scroll-snap-type: y proximity;
    scroll-padding-top: 9rem;
    row-gap: 30vh;
    &-boxes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column: span 4;  
      row-gap: 20vh;
      &-box {
        position: inherit;
        display: grid;
        grid-column: span 4;  
        width: 100%;
        .help {
          position: inherit;
          height: min-content;
        }
      }
    }
    &-content {
      min-height: min-content;
      max-height: fit-content;
      padding: 1rem 0;
      grid-template-columns: repeat(4, 1fr);
      grid-column: span 4;  
      row-gap: 3rem;
      scroll-snap-align: start;
    }
    &-inner {
      grid-template-columns: repeat(4, 1fr);
      grid-column: span 4;  
      width: 100%;
      > * {
        width: 100%;
        grid-column: span 4;
      }
    }
  }

  // for mibile sizes, fake table has to span 4
  .col-8 {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem; /* 24px*/
    &.fake-table > * {
      grid-column: span 4;
    }
  }

  // 6 col layouts
  .col-6l {
    grid-template-columns: repeat(4, 1fr);
    &.row-display {
      flex-direction: column;
      grid-column: span 4;
      img {
        height: min-content;
        width: 100%;
        align-self: center;
      }
    }
  }

  section {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
    row-gap: 20vh;
  }
}


* {
  box-sizing: border-box;
  // border-radius: 6px;
  background-color: transparent;
  cursor: none;
}


// primary colors
$primary: #F0EFE8;
$primary-light: #F7F6F0;
$primary-dark: #CBC6B8; // stroke
$primary-bg: #E9E7E0;

$higlight: #E63223; 
$text-primary: #1A0F04; 


// radius
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 12px;

// spacing
$spacing-xxxs: 4px;
$spacing-xxs: 6px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;

$spacing-section: 222px;

// use filter for shadows
$shadow-sm: drop-shadow(2.171px 4.342px 15.523px rgba(0, 0, 0, 0.05));
$shadow-lg: drop-shadow(2px 4px 14.3px rgba(0, 0, 0, 0.05));

// typography
h1, h2, h2, h3, h4, h5, p, .caption {
  margin: 0;
  padding: 0;
}

h1 {
  color: $text-primary;
  font-family: ivyora-display, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  line-height: 72px; /* 125% */
}

// 
h2 {
  color: $text-primary;
  font-family: ivyora-display, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 100;
  line-height: 48px; /* 133.333% */
  &.col-6 {
    margin-bottom: 0;
  }
  b {
    font-weight: 150;
  }
}

// idk it's not being used rn
h3 {
  color: $text-primary;
  font-family: ivyora-display, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px; /* 115.385% */
}

// nav and paragraph headings
h4 {
  color: $text-primary;
  font-family: ivyora-display, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: lowercase;
}


// unused
h5 {
  color: $text-primary;
  font-family: source-code-pro, monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
  text-transform: uppercase;
}



body, p, ul, ol, li {
  color: $text-primary;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
  &.caption {
    font-family: "Source Code Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.12px;
    text-transform: uppercase;
  }
  b {
    font-weight: 400;
  }
}

.caption {
  font-family: "Source Code Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.12px;
  text-transform: uppercase;
  color: $text-primary;
}

li {
  line-height: 26px; /* 162.5% */
  margin-bottom: 6px;
}



header {
  position: fixed;
  grid-column: 1/13; 
  // padding: 32px 48px 16px 48px;
  padding: 32px 48px 8px 48px;
  // margin-bottom: 32px;
  width: 100vw;
  background-color: $primary;
  z-index: 2;
  left: 0;
  top: 0;
  .header-row {
    display: grid;
  
    // placement
    grid-column: 1/13;
  
    // set grid
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  
    transition: 300ms ease-in-out;
    .header-text {
      color: $text-primary;
      grid-column: 1/10;
      display: flex;
      align-items: center;
      display: flex;
      flex-direction: row;
      // gap: $spacing-xs;
      & * {
        color: $text-primary;
        font-family: ivyora-display, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 100;
        line-height: 36px;
        letter-spacing: 1px;
      }
      &-project {
        font-weight: 400;
      }
      .favicon {
        transition: ease-in-out 150ms all;
      }
      &-home {
        gap: $spacing-xxs;
        @media (hover: hover) {
          &:hover {
            .favicon {
              // filter: invert(29%) sepia(82%) saturate(7377%) hue-rotate(356deg) brightness(104%) contrast(80%);
              // filter: invert(37%) sepia(79%) saturate(6814%) hue-rotate(353deg) brightness(97%) contrast(85%);
              filter: brightness(20%);
              transition: ease-in-out 150ms all;
            }
          }
        }
      }
      > a {
        display: flex;
        align-items: center;
      }
      .favicon {
        height: auto;
        width: 24px;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
  
      // placement
      grid-column: 10/13;
    }
    margin-bottom: $spacing-xs;
  }
  .header-tagline {
    color: $text-primary;
  }
}


footer {
  padding: 0 0 $spacing-xl 0px;
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  align-self: flex-end;
  z-index: 2;
  background-color: $primary;
  .description {
    width: max-content;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    grid-column: 10/13;
  }
}


body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  // padding: 32px 48px;
  // padding-top: 130px;
  // padding-bottom: 40px;
  padding: 0 48px;
  // height: 100vh;
  // width: 100vw;
  overflow-y: scroll;
  z-index: 1;
  section:first-of-type {
    padding-top: 130px;
  }
}

.hero {
  column-gap: 32px;
  align-items: center;
  margin-bottom: 8rem;
  .col-wrapper {
    margin: 0;
  }
  &-content { 
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}

.center-y {
  align-items: center;
}

.landing {
  column-gap: 32px;
  row-gap: 4rem;

  // play page landing
  &.play {
    grid-row: 3/6;
    column-gap: 24px;
    row-gap: 48px;
    .landing-item {
      &-thumbnail {
        grid-row: span 2;
      }
    }
  }
  
  &-item {
    border-radius: $radius-md;
    &:hover { 
      .landing-item-thumbnail {
        transition: 100ms linear;
        // background-color: transparent;
        // border: 1px solid $higlight;
        background-color: #E1DED7;
      }
    }
    display: grid;

    // set placement
    grid-column: span 5;

    // set grid
    // grid-template-rows: repeat(4, 1fr);
    gap: 0.825rem;
    &-text {
      display: flex;
      flex-direction: column;
      // set placement
      // grid-row: span 1;
      justify-content: flex-end;
      align-self: flex-end;
      height: min-content;
      &-detail {
        color: $primary-code;
      }
      h3 {
        margin-bottom: $spacing-xs;
      }
      // :nth-child(2) {
      //   text-transform: lowercase;
      // }
      :not(:first-child) {
        color: $primary-code;
      }
    }
    &-thumbnail {
      // grid-row: span 3;
      background-color: $primary-bg;
      padding: 32px;
      display: inline-flex;
      transition: 60ms linear;
      // border: 1px solid $primary-bg;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

section {
  grid-template-columns: repeat(10, 1fr);
  grid-column: 2/12;
  margin-bottom: 180px;
  display: grid;
  row-gap: 64px;
  column-gap: 32px;
  *[class^="col-"], *[class*="col-"] {
    // margin-bottom: 64px;
    column-gap: 24px; 
    &:last-child {
      margin-bottom: 0;
    }
  }
  .align-x {
    align-items: center;
  }
  .col-wrapper {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-sm;
    &.col-6 {
      margin-bottom: 0;
    }
  }
  .col-10 {
    display: grid;
    // grid-column: 2/12;
    grid-column: span 10;
  
    //columns
    grid-template-columns: repeat(10, 1fr);
    column-gap: 24px; 
    // row-gap: 48px;
  }
  .col-1 {
    grid-column: span 1;
  }
  .col-2 {
    grid-column: span 2;
  }
  .col-3 {
    grid-column: span 3;
  }
  .col-4 {
    grid-column: span 4;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-6 {
    grid-column: span 6;
  }
  .col-7 {
    grid-column: span 7;
  }
  .mobile-layout {
    // grid-column: span 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: min-content;
    > img {
      display: flex;
      width: 100%;
      height: auto;  
      filter: drop-shadow(2.171px 4.342px 15.523px rgba(0, 0, 0, 0.05));
    }
  }
  .no-mb {
    margin-bottom: 0;
  }
}

.section-links-container {
  padding: 0;
  header {
    display: flex;
    justify-content: center;
    .header-text {
      display: flex;
      align-items: center;
      align-self: center;
    }
  }
  .section-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 24px;
    grid-column: 2/12;
    // height: 100%;
    align-items: center;
    align-self: center;
    // justify-self: center;
    margin-bottom: 64px;
    padding: 32px;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  &.padded-bg {
   background-color: $primary-bg;
   padding: 32px;
  }
  .icon {
    .small {
      height: $spacing-sm; 
      width: $spacing-sm;
    }
  }
}


// mobile
.mobile-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.ahref-fix {
  white-space: nowrap;
}


@media (max-width: 600px) { 
  .ahref-fix {
    white-space: inherit;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  header {
    grid-template-columns: repeat(4, 1fr);
    // display: flex;
    background-color: $primary;
    // display: flex;
    // flex-direction: column-reverse;
    .header-row {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      .header-text {
        display: flex;
        align-self: center;
        // flex-direction: column;
      }
    }
  }
  .content {
    .hero {
      min-height: auto;
      height: auto;
    }
  }
  .landing {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
    row-gap: 64px;
  }
  section {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    *[class^="col-"], *[class*="col-"] {
      row-gap: 16px;
    }
    .col-10 {
      display: flex;
      flex-direction: column;
    }
  }
  .content {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
    row-gap: 64px;
    > section:first-child {
      img:first-child {
        height: min-content;
      }
    }
    &.section-links-container {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      header {
        position: static;
        .header-text {
          display: flex;
          flex-direction: column;
        }
      }
      .section-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
      }
    }
  }
  .hide-on-mobile {
    display: none;
  }
  footer {
    row-gap: 16px;
    h4 {
      align-self: center;
    }
    grid-column: span 4;
    display: flex;
    flex-direction: column;
  }
}
