<footer>
    <h4 class="description">Coded by Ri : )</h4>
    <div class="footer-links">
        <a href="https://www.linkedin.com/in/rizhan/">
            <h4>LinkedIn</h4>
        </a>
        <a href="https://github.com/ri-zhan">
            <h4>GitHub</h4>
        </a>
        <a href="mailto:hello@ri.works">
            <h4>Email</h4>
        </a>
    </div>
</footer>