<head>
<link rel="stylesheet" href="css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-31NZ82XM5H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-31NZ82XM5H');
    </script>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <meta property="og:title" content="About">
    <meta property="og:description" content="Ri Zhan's information.">
    <meta property="og:image" content="https://ri.works/images/ri_portfolio_cover.png">
    <meta property="og:type" content="website"/> 
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/ivl6exa.css">
</head>