<header>
    <div class="header-row">
        <div class="header-text">
            <a href="/index.html" class="header-text-home">
                <img class="favicon" src="/images/monogram.svg" alt="">
                <span class="header-text-home-name">Ri Zhan</span>
            </a>
            
            {% if header-info-display %} 
            <div>
                <span class="header-text-home-name">:</span>
                <p class="header-text-project">
                {{ header-info }}
                </p>
            </div>
            {% endif %}
        </div>

        {% include 'playnav' %}

    </div>
</header>