name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: deploy-${{ github.ref }}

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Persist npm cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      - name: Persist Eleventy .cache
        uses: actions/cache@v4
        with:
          path: ./.cache
          key: ${{ runner.os }}-eleventy-fetch-cache

      - name: Install and Build Preview
        if: github.event_name == 'pull_request' && github.event.action != 'closed'
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          npm install
          npm run build-preview

      - name: Deploy Preview
        if: github.event_name == 'pull_request'
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: _site
          wait-for-pages-deployment: true

      - name: Install and Build
        if: github.event_name == 'push'
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _site
          clean-exclude: pr-preview/
          force: false